[2020-08-18 13:37] dheerajd-msys commented on #9922
@aswinfrancis91 Please check if there is anything other than 16.4.35 is installed, Update your GEM_PATH, GEM_HOME, and PATH variables per v16.4.35.

[2020-08-18 14:21] bby-bishopclark commented on #2908
I cannot:  I'm limited to 14.x due to the licensing trapdoor in v15+ .  I can follow-up with the CinC project once they're minimally ready (for me, that's a YUM repo), though.

[2020-08-18 16:00] lamont-granquist commented on #10318
fixed by #10319

[2020-08-18 16:00] #10318 closed

[2020-08-18 18:03] mwrock commented on #9922
I ran into this as well. I believe this is addressed in an upcoming version but even if you are using the "fixed" version, you will continue to tun into this problem if you are trying to bootstrap the same node that previously failed if that node has the `client.rb` file from the previous boostrap. The issue is the backslashes in that file. You should be good if you uninstall any chef client insta

[2020-08-18 18:06] kethahel99 commented on #9922
I have the same experience. I have to fix the slashes kn the client.rb file manually and rerun chef-client, whether older or newest version of the client. . Which is the upcoming workstation version where this will be fixed?

[2020-08-18 21:18] jho26 opened #10326 "'osx_profile' big sur error raised on macOS catalina"
I am using the latest chef client and I am noticing the big sur error raised on my macOS Catalina (10.15.4) VM

          chef_version=16.4.35
           platform=mac_os_x
           platform_version=10.15.4
           ruby=ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-darwin17]
           program_name=/opt/chef/bin/chef-client
           executable=/opt/chef/bin/chef-client

line 45) had

[2020-08-18 21:48] tas50 commented on #10326
This is fixed in the 16.4.38 release

[2020-08-18 21:48] #10326 closed

[2020-08-19 16:19] tas50 opened #10328 "Determine if we can use timedatectl show in the timezone resource"
It's possible that we can easily parse out the data from `timedatectl show` on systemd hosts and avoid the need for a fragile regex. We just need to make sure this exists on older systemd hosts like RHEL7/SLES 12/Ubuntu 16.04

[2020-08-19 16:39] tas50 commented on #10328
Ubuntu 16.04 does not have the show command.

[2020-08-19 16:39] #10328 closed

[2020-08-19 18:17] OBrienCommaJosh opened #10330 "Modernize Infra Client support for Powershell on Windows"
#### Summary

PowerShell, .NET, and DSC on Windows are deprecated and are primarily being replaced by PowerShell Core, .NET Core, and DSC Core.

Existing Infra Client resources are built around PowerShell and DSC and need to be proactively modernized to support the new framework so we can support new functionality in a timely manner.

####

#### Background

PowerShell, up to version 5.1, is now co

[2020-08-19 21:20] #6708 closed

[2020-08-20 01:14] evandam opened #10333 "Cannot edit_resource of a resource defined in a custom resource's action"
## Description
Very often I come across cookbooks that use custom resources to wrap other resources, but I need to edit the underlying resource. When I attempt to `edit_resource!`, Chef is unable to find it.

Is this a bug, or is there a correct way to be doing this? Not sure if @lamont-granquist can provide some insight 🙏

## Chef Version

[code]

I also verified the same behavior on `15.13.8` an

[2020-08-20 08:38] dheerajd-msys commented on #9922
This is fixed in https://github.com/chef/chef/pull/10298 and shipped in `Chef Infra Client v16.4.35` and `Chef workstation v20.8.125`
Tested with both successfully.

[2020-08-20 08:38] #9922 closed

[2020-08-20 18:05] lamont-granquist commented on #10333
No that isn't possible.  Until you execute the custom resources action the sub-resource collection doesn't exist, the action hasn't been parsed the resource does not exist as an object.  The sub-resource compile/converge then runs when the action runs.  Control does not return to the recipe context until after it has all been executed (and even the delayed notifications in the subresource have run

[2020-08-20 18:05] #10333 closed

[2020-08-21 02:46] jaymzh opened #10336 "windows_package isn't idempotent"
## Description

Windows package reinstalls the package every run.

## Chef Version
15.10.12 and 16.4.41

## Platform Version
Windows 10

## Replication Case
Given this resource:
[code]

It seems to reinstall gvim each run.

## Client Output

The icons all go away and come back as you can see it re-install each time. Chef also tells you it installed it:

[code]

[2020-08-21 02:50] jaymzh commented on #10336
Note I also tried adding `version '8.2.1364'` but that did not fix it.

[2020-08-21 14:46] trickyearlobe opened #10624 "windows_audit_policy fails when using chef in local mode"
## Description
When calling `windows_audit_policy` resource in chef-client local mode (-z), we get a notice about a missing DLL.

Problem doesn't occur if I install Chef Client package instead of workstation package.

There is some [some seemingly relevant context](https://discourse.chef.io/t/using-powershell-exec-in-chef-shell-could-not-open-library-chef-powershell-wrapper-dll/16082) suggesting t

[2020-08-24 20:50] phiggins commented on #10336
@jaymzh This was already mentioned in the docs, but it was a bit buried. I opened a PR to improve things here if you'd like to chime in: #10342

[2020-08-25 03:38] lamont-granquist opened #10345 "Add lazy node values to support delayed evaluation in attributes files and derived values"
https://github.com/poise/poise-derived

Dunno why I never noticed this cookbook before but this is the least bad solution I've seen to this problem.

[2020-08-25 03:56] tas50 commented on #9822
@dheerajd-msys Can you take a look at this issue and see if this is actually fixed by #9822

[2020-08-25 04:00] tas50 commented on #4850
This was already fixed so I'm going to close it out.

[2020-08-25 04:00] #4850 closed

[2020-08-25 05:37] dheerajd-msys commented on #9822
Ok @tas50,  we will take a look!

[2020-08-25 17:05] #9888 closed

[2020-08-26 00:04] chilcote opened #10352 "osx_profile no longer idempotent"
## Description
osx_profile resource is no longer idempotent.  On every run I get (using the loginwindow profile as an example):

## Chef Version
16.4.41

## Platform Version
macOS 10.15.6

## Replication Case
Using the open source cookbook here https://github.com/pinterest/it-cpe-cookbooks/tree/master/cpe_loginwindow

And feeding it a node attribute like so:

[code]

## Client Output
[code]

(16.2

[2020-08-26 06:14] jaymzh opened #10354 "windows_path doesn't effect ISE"
# Description

This is somewhere between a bug and a enhancement request.

The `windows_path` resource is - at least it seems to me - somewhat useless on modern systems, because it sets the *old* kind of path which is not applicable to powershell or anything that leverages the so-called "ISE" framework. I think.

If you use `windows_path` to add an element to the path then pop open powershell and

[2020-08-26 06:43] dheerajd-msys opened #10355 "ZD - chef-client stop init.d service stopping other process"
## Description

It was observed that chef-client init.d stop service is killing process id of some other process. The code snippet shows that it usage killproc function of init.d on rhel 6 but only considering the PID from file not considering the program path.
stop() {
echo -n $"Stopping $prog: "
killproc -p $pidfile $exec
retval=$?
echo
[ $retval -eq 0 ] && rm -f $lockfile
return $retval
}

kill

[2020-08-26 11:33] gaelcolas commented on #10354
I don't know how you set your path and all, but does your problem persist after a reboot?

[2020-08-26 17:33] jaymzh opened #10356 "Anything that uses `remote_file` under the hood should expose `ssl_verify_mode`"
### Describe the Enhancement:

We recently added `ssl_verify_mode` to `remote_file`. But there's no way to pass that through things like `windows_package`. We should expose that.

### Describe the Need:

Same as the other need - being able to handle internal servers with self-signed certs.

[2020-08-26 17:46] tas50 commented on #10356
Tagging this for the sustaining backlog.

[2020-08-27 04:59] jaymzh commented on #10354
@gaelcolas it's something-something WMI queries? https://github.com/chef/chef/blob/f05dc3618241eaac5755b9904fc9ceb43e59a455/lib/chef/provider/windows_env.rb#L199

FTR reboot does not help. Though, honestly, if I have to *reboot a production system* to *add something to the search path for the system*, we've already failed. It's not a kernel parameter, it's just a default for an environment variabl

[2020-08-27 23:37] tas50 opened #10364 "Add missing description to windows_certificate's cert_path property"
This property isn't documented on the docs site since we don't have it documented here.

[2020-08-28 12:29] kapilchouhan99 commented on #10108
Hi @olqs I have checked it on `Red hat 7.8` with cookbook `selinux 2.0.0`, and i am not getting any type of error:
[code]
after the chef-client run, i have also checked `abrt-cli list` but its not showing any detected problems.
[code]
could you please provide me steps to reproduce this issue?

[2020-08-28 15:40] #4660 closed

[2020-08-28 19:06] marcosdiez commented on #7255
I "solved" my problem like this ( please notice that node['name'] is properly set for me during chef bootstrap, but you can use any other variable instead) :

[code]

[2020-08-28 20:02] lamont-granquist commented on #10355
Isn't the fix for this just using `killproc -p $pidfile -b $exec`?

Also that initscript doesn't appear to be in chef/chef so this issue is misfiled.

https://github.com/chef-cookbooks/chef-client/blob/master/templates/default/redhat/init.d/chef-client.erb#L46

[2020-08-28 20:22] lamont-granquist commented on #10355
hmm -b is terrible and `killproc -b $pidfile -b /opt/chef/embedded/bin/ruby /usr/bin/chef-client` is better but requires the path to the actual ruby, and doesn't match chef-client at all for some reason.

[code]

is probably what should be used instead of killproc then and instead of rolling our own bad version of that.

since pkill doesn't seem to support matching by pid i put the pidfile into th

[2020-08-28 20:22] #10355 closed

[2020-08-30 17:45] mskdenigma opened #10366 "Have knife client bulk delete support 10k+ clients"
### Describe the Enhancement:
Update `knife client bulk delete` or the Chef Server API to support Chef servers with 10k+ clients
Add the boolean telling you if a client is a validator or not to the client list API call
`GET /organizations/NAME/clients`

FROM:
[code]

TO:
[code]

### Describe the Need:
Currently [client_bulk_delete.rb](https://github.com/chef/chef/blob/master/lib/chef/knife/client_

[2020-08-31 12:36] vsingh-msys opened #10367 "ZD 25979 - /Users created on nodes after knife bootstrap"
#### Describe the bug

----------------------------------------------

[code]

[code]

After `knife bootstrap`:

[code]

`knife bootstrap` is creating chef directory right under `root` directory, which is not acceptable.
How can we change the directory location and where is it recommended to place?

**To Reproduce**

Steps to reproduce the behavior.

**Expected behavior**

**Actual behavior**

A c

[2020-08-31 12:44] vsingh-msys commented on #10367
it seems that by default `cache_path` picking up workstation home dir instead of node home dir

[code]

[2020-08-31 16:55] lamont-granquist commented on #10366
Feel free to fix this, it isn't a security issue.  It was done because it was somewhat difficult to figure out how to do more than 10k nodes, so it was just capped and the issue kicked down the road.  I think we also expected anyone who had that many nodes to just write a SQL query directly against the database to clean it up.

The idea of doing an API request per node though in bulk delete is pro

[2020-08-31 20:19] jakauppila commented on #10330
Would this include support for executing PowerShell Core scripts on non-Windows machines?

[2020-08-31 20:49] phiggins opened #10368 "Add "getting started" docs for new contributors"
While discussing #10360 in today's triage meeting it came up that documentation on how to get started with development, especially around testing, does not currently exist.

Testing is mentioned in multiple places in the existing documentation:
* https://github.com/chef/chef/blob/master/CONTRIBUTING.md#pull-request-requirements
* https://github.com/chef/chef-oss-practices/blob/master/contributors/

[2020-09-02 04:39] dheerajd-msys commented on #2908
Hi @bby-bishopclark @scarpe01 Please check ^ and let us know if you are still facing issues with latest chef infra.

[2020-09-02 04:48] bby-bishopclark commented on #2908
So, 14.15.6 , then?

[2020-09-02 09:47] ayushbhatt29 commented on #9822
@tas50 I have verified from both ways of installing windows_font i.e by bootstrapping and directly installing through recipe locally on  windows 2019  and not able to replicate, can you please tell if there is anything missing?

**Using aws vm** - Microsoft Windows Server 2019 Base
<img width="819" alt="Screenshot (2)" src="https://user-images.githubusercontent.com/59819493/91963676-cdc77900-ed2b-

[2020-09-02 10:13] ayushbhatt29 commented on #9822
@tas50 I have verified from both ways of installing windows_font i.e by bootstrapping and directly installing through recipe locally on  windows 2019  and not able to replicate, can you please tell if there is anything missing?

**Using aws vm** - Microsoft Windows Server 2019 Base
<img width="819" alt="Screenshot (2)" src="https://user-images.githubusercontent.com/59819493/91963676-cdc77900-ed2b-

[2020-09-02 12:31] snehaldwivedi opened #10373 "Update all knife client commands with API version 2"
Currently ,   `kinfe client`  is using v1 objects like https://github.com/chef/chef/blob/c0468588af33fa5ac6e07e7fc8e51fb6f44a8ce1/lib/chef/knife/client_create.rb#L59  we should be using our normal v2 rest objects consistently as we have updated it for `opc` commands in [PR](https://github.com/chef/chef/pull/10187)

[2020-09-02 16:59] tas50 commented on #9822
Sounds like we fixed that with the last windows_font fix. Thanks for checking @ayushbhatt29

[2020-09-02 16:59] #9822 closed

[2020-09-02 17:59] mwrock commented on #10330
@jakauppila this is currently scoped to windows only scenarios. It would definitely be nice to get powershell resources available for linux but I think that would deserve its own issue.

[2020-09-02 21:48] calwynb commented on #10181
Any news/progress on this issue?

[2020-09-03 05:15] kmf commented on #10181
@vsingh-msys bump

[2020-09-03 05:19] vsingh-msys commented on #10181
Hi @calwynb & @kmf still working of this issue, dealing with challenges regarding opening other user sessions at inspec/train side will update soon thanks!

[2020-09-03 05:35] dheerajd-msys commented on #10073
Closing based on https://github.com/chef/chef/pull/10100#discussion_r482012014

[2020-09-03 05:35] #10073 closed

[2020-09-03 08:13] snehaldwivedi commented on #3515
already covered in [PR](https://github.com/chef/chef/pull/10380)

[2020-09-03 11:20] snehaldwivedi commented on #3516
already covered in [PR](https://github.com/chef/chef/pull/10187)

[2020-09-03 11:53] snehaldwivedi commented on #3513
@stevendanna can you please help me with the understanding what exactly you meant by `global_list`?
As per the current code `knife user list`,  lists all admin and non admin users. Is there any other type of user we need to display through this command?

Also, in link line #L289 does not exists are you pointing it to https://github.com/chef/chef/blob/master/lib/chef/user.rb#L157?

[2020-09-03 20:39] lamont-granquist commented on #5681
This is actually correct behavior for deep_merge otherwise arrays would grow without bound.

On every execution of the client we need to take the value we saved and deep_merge it with the -j arguments.  If we use `+=` to merge the two arrays, then on every execution the old array gets added to the new array.  So as a result it has to use `|=`.

The purpose is so that you can add a port to a firewa

[2020-09-03 20:39] #5681 closed

[2020-09-03 20:45] lamont-granquist commented on #2535
Closing this one as "PRs Welcome" (but you need to make CERTAIN not to break anyone using bzip on linux, etc so it may not be as trivial as you think)

[2020-09-03 20:45] #2535 closed

[2020-09-03 20:54] lamont-granquist commented on #1798
This feels like correct behavior to me.  Nobody has suggested what the behavior should be.  Doing the umount/mount if remount is actually what I'd expect.  Blowing up feels a bit useless to me.  I also don't really understand the use case where this comes up as a bug.  And it feels like there's either going to be some people doing special handling to manually translate remount to umount/mount in t

[2020-09-03 20:54] #1798 closed

[2020-09-03 21:00] lamont-granquist commented on #1839
To fix this would require adding support for multipart streaming uploads to Chef::HTTP, this isn't just an afternoon-bugfix.

[2020-09-03 21:04] lamont-granquist commented on #3590
yeah think this got done

[2020-09-03 21:04] #3590 closed

[2020-09-04 04:44] dheerajd-msys commented on #2908
@bby-bishopclark We've identified some related issue and looking forward to fix but it won't be available to Chef 14 as it's EOL now https://docs.chef.io/versions/#end-of-life-eol-products.
cc : @antima-gupta

[2020-09-04 05:48] dheerajd-msys commented on #10108
@olqs Please check ^ if we are missing anything reproducing this issue.

[2020-09-04 08:08] antima-gupta commented on #2908
@bby-bishopclark On 16.x it's not making multiple entries but I can see multiple entries in  `/etc/fstab` on 15.x . Please let me know if you were facing the same issue.

## Recipe after making some change in mount resource:

[code]

### Entry in `fstab` before:

[code]
### Entry in`fstab`  after running above recipe:

[code]

[2020-09-04 13:07] stevendanna commented on #3513
Sure!  The chef-server has two API endpoints that can list users, `/users` and `/organizations/ORGNAME/users`. The former lists all users on the chef-server.  The latter lists all users associated to the given organization.  Currently, `Chef::User.list` uses a ServerAPI object that is based on the chef_server_url.  This is typically an org-specific URL and thus will be using the second API endpoin

[2020-09-04 15:58] chilcote opened #10384 "cannot delete config profiles in macOS 11.0"
## Description
We are migrating to MDM-delivered profiles, but we still need to remove profiles with the osx_profile resource. Gating this resource from running at all in 11.0 is too much; while apple has removed the ability to _install_ profiles in the cli, _removing_ profiles is still allowed. The resource should only alert on installing (creating) profiles, and still allow for the removal.

##

[2020-09-04 16:13] erikng commented on #10384
+1 on needing this functionality.

[2020-09-07 08:28] trickyearlobe commented on #10272
Maybe we could implement keyless encryption such as ROT13 or better still ROT26?

[2020-09-07 11:27] snehaldwivedi commented on #3513
@stevendanna I have tested with the merged opc code https://github.com/chef/chef/pull/10187,  Currently I we are using `chef_server_root` which is providing me list of both org-specific and non org-specific users. Like as follows, my list has two users org-specific and non org-specific.
[code]
[code]
[code]
So I think its working as per the details mention in the cards. Please let me know if requi

[2020-09-07 17:00] vsingh-msys opened #10391 "[data-collector] FATAL: NoMethodError: undefined method `start_time' for nil:NilClass"
## Description

If any error in config occurs in data collector config options seems `run_context` being assigned with nil that leads to  `FATAL: NoMethodError: undefined method `start_time' for nil:NilClass` accessing `start_time` on nil `run_context`.

## Chef Version

local mode latest master & Chef Infra Client: 16.4.41

## Platform Version

Ubuntu 18.04

## Replication Case

Put some delibera

[2020-09-07 17:17] vsingh-msys opened #10392 "[data-collector] validate invalid assignments of output_locations options"
## Description

Data collector `output_locations` hash value only allowed `:files` & `:urls` keys. as direct being access like https://github.com/chef/chef/blob/bef4d5046cfe2234c8224fc8a280f0efba5d93ec/lib/chef/data_collector/config_validation.rb#L92

In order to prevent any consequences need to restrict the user to set the valid value of output_locations otherwise, it raises error `FATAL: NoMetho

[2020-09-08 08:08] stevendanna commented on #3513
I think using the chef_server_root produces the opposite problem and changes the semantics of the commnad.  _All_ users in Chef Server are global.  Those users can then be associated with 1 or more organizations.  For end-users, there are then 2 operations that they may want to complete:

1. List all users on the chef server
2. List all users associated with a given organization

In order to allow

[2020-09-08 18:32] mwrock commented on #9075
I submitted https://github.com/chef/chef/pull/10383 which brings down `chef-client --version` on my windows laptop from an average 7.5 seconds to just under 3 second average on a warm file cache cache. The difference is more dramatic on a cold cache. Note: Windows has a magical file caching mechanism that caches recently accessed files for a certain amount of time. So the first invocation of `chef

[2020-09-08 18:37] lamont-granquist commented on #9075
Yeah, I was thinking about resources and providers over the weekend.  But I think those all use require_relative which avoids the filesystem gem scanning so even if you lazy those it won't change much.  The improvement might be in downstream dependencies, but if we've done all this work downstream, then we should be autoloading stuff which is expensive, so shouldn't be seeing much of an improvemen

[2020-09-08 18:40] lamont-granquist commented on #9075
I also started work on a gem to cache a manifest of all the files of all the gems installed in the system and use that instead of filesystem scanning, which I think will be the right solution to fixing this problem for good and getting really good cli perf everywhere.  It'll slighly break rubygems expectations (although you can still edit files, but you couldn't move them around or add new ones --

[2020-09-08 18:40] tas50 commented on #9075
It seems like the path we should focus on optimizing is the knife codepath vs. the overall chef-client. If we could shave 2 seconds off the chef-client most people would notice that at all. Shaving 2 seconds of knife would be night and day though since that's all interactive and you generally issues dozens of those commands.

[2020-09-08 18:41] lamont-granquist commented on #9075
I'm going more down the path of "fix rubygems and make it all go away".

[2020-09-08 19:34] phiggins commented on #9075
I know this was just an arbitrary example, but could we disallow `Hash.to_json` and use autoload for it? It's not used in too many places:

[code]

[2020-09-08 19:36] mwrock commented on #9075
I think the main issue is that `Hash.to_json` is expected to "just work" in any recipe.

[2020-09-08 19:41] lamont-granquist commented on #9075
^ yep that's the problem.

we should eliminate all those usages of Hash.to_json internally, but we can't really remove the `require 'json'` bit.

we could consider wiring up our own monkeypatch `Hash.to_json` to FFI_Yajl, but we probably can't just drop that.

we might, though, be able to lazy the require "json" to someplace closer to where recipe parsing happens?

[2020-09-08 20:09] mwrock commented on #9075
@tas50 https://github.com/chef/knife-azure/pull/534 should help the `knife` scenario. This single `require` was eating 10 seconds.

[2020-09-08 20:25] tas50 commented on #9075
Yep that one was pretty terrible. I have another issue open to change up how we use azure so we can avoid the giant include there and trim a few million lines of code.

[2020-09-08 20:50] mwrock commented on #9075
https://github.com/chef/knife-cloud/pull/140 takes another second off of knife command loading.

[2020-09-08 21:33] #10391 closed

[2020-09-08 21:33] #10392 closed

[2020-09-09 02:36] tas50 commented on #10384
Fixed on master

[2020-09-09 02:36] #10384 closed

[2020-09-09 02:44] tas50 opened #10397 "Add link to the patent page when getting help or running chef-*"
### Describe the Enhancement:

Add to each main commands help to include a link to our patents page.  This is probably easiest done by adding to the existing banners. Right now it only includes usage information for each of the CLI tools.

Example of the current knife output:
[code]

Proposed new output:

[code]

Additionally when running Chef Infra Client / Chef Infra Solo commands we should disp

[2020-09-09 16:34] #10397 closed

[2020-09-09 16:46] lamont-granquist opened #10403 "Replace Time.now with Benchmark.realtime in the code"
As recently discovered Benchmark.realtime works fine on Windows (may or may not actually produce realtime timing, but it falls back to something no worse than Time.now at least) so we should use that everywhere.  It isn't very important to do in our spec tests, but it might affect customers running the code across many thousands of servers.  It can't hurt using it everywhere though.

[2020-09-09 17:06] scottvidmar opened #10404 "Knife cookbook list seems to present a hash, but actually outputs an array of strings."
## Description
The format of the knife-tidy reports aren't the same as the knife cookbook list --all -F json. While knife tidy presents an easily traversed JSON structure, the knife cookbook list spits out an array of strings in JSON format that requires additional parsing to pull versions out, like so:

My example:
[code]

While technically correct, this doesn't seem like it's intended. Seems lik

[2020-09-10 12:59] snehaldwivedi commented on #3513
@stevendanna I have done some analysis on your suggestion. `chef_server_url` is path of organisation configured in `kife.rb` and if we use that it will only list the users of that specific organisation. In that case we will not be able to list all global users.

In my opinion we can use   `chef_server_root`, as it don't set any path for organisation. So if we run `knife user list` it will list all

[2020-09-10 13:57] stevendanna commented on #3513
@snehaldwivedi I think that your solution is nice overall and if we were implementing this from scratch is a very reasonable behavior.  One potential problem this introduces however is that it represents a behavior change of the _existing_ `knife user list` command for users.  I would check in with the core chef team to see if they are OK with that behavior change.

[2020-09-10 14:20] chef-davin opened #10411 "windows_firewall_profile resource failing with undefined method error."
## Description

When calling on the new `windows_firewall_profile` resource, we're seeing an NoMethodError occur where it can't find the load_firewall_state method.

## Chef Version

Seeing this in 16.4.41.  It is probably present in other versions.

## Platform Version

Windows 10

## Replication Case

Use an example from the documentation to create the resource in a cookbook and run the cookbook

[2020-09-10 14:20] chef-davin commented on #10411
I'll be putting a PR in for the fix momentarily

[2020-09-10 16:15] #10411 closed

[2020-09-10 16:19] lamont-granquist commented on #10404
This probably was intended though from some logic 10 years ago, and has been a stable API for as long as Chef has been around.

There's almost certainly code out there were someone has piped this output through sed to extract the values people want which would be broken by changing it.

[2020-09-10 16:52] jakauppila opened #10414 "Add support for PowerShell Core on Non-Windows Machines"
### Describe the Enhancement:
Add support for executing PowerShell Core-supported resources on Non-Windows Machines once #10330 is completed.

### Describe the Need:
Allows for code re-use when utilizing PowerShell across platforms.

### Current Alternative
N/A

[2020-09-10 19:59] mwrock commented on #9075
I think we have captured all of the low hanging `autoload` fruit for chef-client and knife startup performance given a standard chef-workstation installation of plugins. I am going to reassign to @lamont-granquist for now since I believe he had some work in progress to speed up rubygems.

[2020-09-10 20:41] jeremyciak commented on #10330
I'm curious if (and suggesting that) this could be approached in a non-disruptive way by adopting the "pwsh" or "core" nomenclature instead of "powershell" for all of the replacements that would opt into PowerShell Core. Using the above examples:

- Infra Client internals updated for PowerShell Core (e.g. Chef::Pwsh, pwsh_out, pwsh_exec)
- Infra Client resources updated for PowerShell Core (e.g. p

[2020-09-11 04:33] jeremyciak opened #10420 "Resource "windows_user_privilege" Does Not Work as Documented"
## Description

Using the `windows_user_privilege` resource as documented results in a validation error.

## Chef Version

16.3.45

## Platform Version

Windows Server 2019

## Replication Case

[code]

## Client Output

[code]

## Stacktrace

[2020-09-11 04:38] snehaldwivedi commented on #3513
@stevendanna okay, please let me know once the discussion is done.

[2020-09-11 05:16] Vasu1105 commented on #10420
@jeremyciak user has to be mentioned in block like follows

[code]
Could you please try that let us know ?

[2020-09-11 09:54] jeremyciak commented on #10420
@Vasu1105 have you actually tried that syntax and has it worked for you? I believe I have tried that previously without success. I will run another test in a bit. Maybe it's a Windows Server 2019 thing? I wouldn't think so though...

[2020-09-11 10:29] Vasu1105 commented on #10420
@jeremyciak that syntax should work as far as I know and that's what the doc also says https://docs.chef.io/resources/windows_user_privilege/#syntax. I agree but that the Validation failed should not come on the previlege part though. But that would be different case.

[2020-09-11 16:54] jeremyciak commented on #10420
@Vasu1105 When I try this exact block you provided, or even a few different combinations of users with the `SeDenyRemoteInteractiveLogonRight` privilege it works:

[code]

What I am finding in further testing is that the resource does not seem to support the usage of either the `SeAssignPrimaryTokenPrivilege` or `SeIncreaseQuotaPrivilege` privileges. I ran the following scenarios:

[code]
[code]
[

[2020-09-11 21:03] #4397 closed

[2020-09-11 22:52] phiggins opened #10425 "Azure Pipelines CI job broken"
The `Post-job: Checkout chef/chef@master to s` step of the `ubuntu_kitchen_tests` job of the Azure pipelines CI has been failing since #10171 was merged: https://dev.azure.com/chef-software/chef/_build?definitionId=10

 It fails with a message like this every time:

[code]

In #10424 I was able to get this passing again by commenting out the mount recipe in `kitchen-tests/cookbooks/end_to_end/reci

[2020-09-12 01:40] mwrock commented on #10330
@jeremyciak we were thinking of adding an `interpreter` property to the existing resources. It would default to Windows Powershell but you could specify `pwsh`. I'm sure it will be quite some time yet but Microsoft will eventually only ship the xplat powershell. They have already dropped the "core" label.

[2020-09-12 01:45] jeremyciak commented on #10330
I was definitely mulling that over as an option as well, but that has more potential to break things or require much more conditional code to support the implementation. I was thinking "path of least resistance" to try and streamline this initiative moving forward.

[2020-09-14 06:17] vsingh-msys commented on #9548
RHSM_register resource, steps that I followed:

1. Register with RedHat developers portal. [click here](https://developers.redhat.com/)

2. Once I had the developer subscription, go to download the KVM image ie. [rhel 8](https://access.redhat.com/downloads/content/479/ver=/rhel---8/8.2/x86_64/product-software)

3. Follow the 'guestfish' directions (ref: https://access.redhat.com/discussions/664843

[2020-09-14 19:02] mwrock commented on #10354
There is really just one definitive set of environment variables on windows. The set has 2 scopes. A "system" (or machine) and "user" scope. Foe the `PATH` variable, the "user" scope paths are appended to the "system" scoped paths to form the complete `PATH` for a given process environment.

Looking at the Chef resources, it looks like chef uses WMI to set the path at the "user" scope. This will u

[2020-09-14 19:16] mwrock commented on #10330
@jeremyciak we definitely want to avoid breaking changes here but all working powershell based resources today should not be affected by this work. They will continue to use the "windows powershell" binary. One will need to explicitly specify the "pwsh" interpreter to "opt in" to the cross platform version of powershell.

Because the powershell team has stated that "we consider PowerShell 7 and be

[2020-09-14 20:51] lamont-granquist commented on #4980
https://github.com/chef/chef-zero/issues/285 is probably the sketch of what needs to be fixed for chef-zero to make it fast

[2020-09-14 20:53] lamont-granquist commented on #7028
I need to revisit if this got all fixed in Chef-16 or if there's anything remaining for Chef-16

[2020-09-14 20:55] lamont-granquist commented on #5975
yeah this got done in cookstyle instead

[2020-09-14 20:55] #5975 closed

[2020-09-14 20:58] lamont-granquist commented on #3833
maybe `preserve_mode [ <array of file paths> ]` would be even better, then enforcement could happen on most of the files remote_directory manages, but exceptions could be made, rather than just turning off enforcement for everything.

[2020-09-14 20:59] tas50 commented on #7028
I believe we still have a bunch of funky identity stuff

[2020-09-14 23:01] mwrock opened #10428 "support pwsh interpreter in powershell_script resource"
Related to epic #10330

By default, `powershell_script` will continue to use powershell.exe, but users can optionally specify `pwsh` as an interpreter. This will require pwsh (cross platform powershell) to be installed and on the path.

[2020-09-14 23:08] mwrock opened #10429 "Add optional second interpreter arg to powershell_out to support pwsh"
Related to epic #10330

Users of `powershell_out` may specify an "interpreter" as an optional second string argument to `powershell_out`. The default will be `powershell.exe`. This will not break current instances of `powershell_out` because it currently expects the first argument to be the script to execute and the optional last argument to be a hash of options. This will continue to be the case.

[2020-09-14 23:12] mwrock opened #10430 "Support cross platform pwsh in powershell_exec"
Related to epic #10330

Tentatively users of powershell_exec may specify an "interpreter" as an optional second string argument to powershell_exec. The default will be powershell. If pwsh is the interpreter, powershell exec will invoke a .net core based wrapper for creating a cross platform powershell based runspace.

"interpreter" may not be the correct path forward here so that implementation de

[2020-09-14 23:39] mwrock commented on #10330
I added a few issues to this epic.

Given the uncertain state of DSC interoperability with cross-platform powershell, this epic will not be altering the `dsc_resource` or `dsc_script` resources. They leverage `Chef::Util::DSC::LocalConfigurationManager` and `Chef::Util::Powershell::Cmdlet` which use `powershell.exe`. No other non-DSC resource or utility uses those classes so we can safely leave th

[2020-09-14 23:45] jeremyciak commented on #10330
Is this something a bit too fundamentally crucial to let outsiders contribute towards? I would love to help with this if possible. Let me know!

[2020-09-15 00:02] mwrock commented on #10330
Happy to take contributions @jeremyciak ! It is work I plan on starting now and I will be focusing on the more nebulous `powershell_exec` issue #10430 . You are welcome to contribute to either of the other 2 issues (#10328 or #10329). Let me know if you have any questions or if I can help you get started in any way.

[2020-09-15 05:18] lydz1209 opened #10431 "I'm curious if (and suggesting that) this could be approached in a non-disruptive way by adopting the "pwsh" or "core" nomenclature instead of "powershell" for all of the replacements that would opt into PowerShell Core. Using the above examples:"
I'm curious if (and suggesting that) this could be approached in a non-disruptive way by adopting the "pwsh" or "core" nomenclature instead of "powershell" for all of the replacements that would opt into PowerShell Core. Using the above examples:

- Infra Client internals updated for PowerShell Core (e.g. Chef::Pwsh, pwsh_out, pwsh_exec)
- Infra Client resources updated for PowerShell Core (e.g. p

[2020-09-15 16:47] mwrock commented on #10431
closing this since it just contains duplicate content from #10330. I'm assuming this may have been opened by mistake but if we want to discuss this specific topic, we should continue to do so in #10330

[2020-09-15 16:47] #10431 closed

[2020-09-15 16:48] lamont-granquist commented on #10431
If we do that then on day 1 there is zero powershell core support in any cookbook in the world, which seems like the wrong way to go and would require a lot of defensive coding like:

[code]

where the resources are nearly identical.

I'm not 100% against it if there's some good reason for it, but on the face of it, it seems the wrong approach.

[2020-09-15 20:08] phiggins commented on #10425
Not relevant since this test job was removed in #10434.

[2020-09-15 20:08] #10425 closed

[2020-09-17 02:02] tas50 opened #10441 "Simplify Hash transforms"
Now that we support Ruby 2.5+ we can use `transform_values` and `transform_keys` to simplify and speedup some of our hash key/value manipulation.

[code]

[2020-09-17 11:17] akdasari opened #10442 "chef mount resource on windows"

[2020-09-17 11:38] akdasari commented on #10442
sorted

[2020-09-17 18:27] lamont-granquist commented on #10108
That trace log doesn't show any exceptions thrown from the python helper.

From the abort trace the command is showing:

[code]

So that wasn't from the selinux recipe

[2020-09-17 18:28] lamont-granquist commented on #10108
Well at least it wasn't from the selinux recipe in isolation, that was probably the prior command that was received.

[2020-09-17 18:34] lamont-granquist commented on #10108
[code]

that is what it is failing on, but it isn't clear if there's an actual command in the pipe and that is somehow a stray `\n` being sent (can't really guess where that'd come from though).  still need an accurate `-l trace` that shows a failure talking to the python helper with the python helper being restarted.

[2020-09-17 18:47] #10352 closed

[2020-09-17 18:48] tas50 commented on #10442
@akdasari Can you elaborate on this issue a bit? It's really helpful if you use the template provided when you open an issue so we can understand the problem you're having and information on what you think the solution may be.

[2020-09-18 19:15] jaymzh commented on #10354
That sounds about right. How does one set the "system" scope? I can send a PR to fix it.

[2020-09-18 19:52] #10442 closed

[2020-09-20 01:47] mal opened #10448 "The archive_file resource seems backwards"
### Describe the Enhancement
The API of the `archive_file` resource is not immediately intuitive when coming to it with knowledge of other core Chef resources such as `file`, `remote_file`, `directory`, `scm` subtypes etc. It feels backwards since it's designed for the inverse purpose of what the obvious lizard-brain pattern-match assumption would be - that `archive_file '/path'` creates an archiv

[2020-09-20 01:56] mal commented on #8155
@tas50 would it be possible to get a `Status: Untriaged` label on this so it gets caught in the next review sweep please?

[2020-09-21 06:15] lamont-granquist commented on #10448
Yeah, this is an issue that needs a time machine to fix.  That ship sailed and the userbase doesn't have the tolerance for breaking changes that are necessary for functional reasons -- it definitely doesn't have the tolerance for breaking changes for ideosyncracies.  We've had devs in the past who tried to fix issues like this and it was not a good scene and the devs burned out and quit.

[2020-09-21 06:15] #10448 closed

[2020-09-21 16:54] ramereth opened #10452 "Requiring gems such as "addressable/uri" in cookbooks no longer work since 16.5"
## Description

Using gems such as `addressable/uri` inside of cookbooks no longer work since 16.5 and cause the following error, even when they are required:
[code]

This seems to be related to the recent change using ``autoload`` for gems.

## Chef Version
16.5.64

## Platform Version
Any platform

## Replication Case

Have the following in a recipe and/or a helper library:
[code]

A possible wo

[2020-09-21 17:12] axelrtgs opened #10453 "Differences in mount vs findmount output causing idempotency issues"
## Description
after some digging looks like the switch to findmnt may be causing the issue as we didn’t have a problem before and chef mounts the drive so its not something manually mounted. need to investigate more but not sure if anyone might have an idea on the extra section in the path shown in the findmnt output?
findmnt -rn output
`/backups //MTLNAS/Servers/backup[/backup] cifs rw,relatime`

[2020-09-21 17:51] lamont-granquist commented on #10453
problem seems to be the argument in square brackets here:

[code]

offhand it looks like that is the path on the cifs server which isn't very useful, and should just be stripped out?

[2020-09-21 17:58] lamont-granquist commented on #10453
It looks like there's a pattern match in the provider which matches stuff that has square brackets but fails on this, and its not clear that it would be appropriate (since it seems like we need to match against `//MTLNAS/Servers/backup` and not `/backup` in that case, and of course there's no tests -- although there is a rubular link for the kind of moutpoint that the existing code is attempting t

[2020-09-22 03:59] jaymzh opened #10454 "`no implicit conversion of FFI::MemoryPointer into Integer` when you specify `uid`"
This seems a lot like this bug from forever ago: https://github.com/chef/chef/issues/4024

## Description
the `user` resource on windows blows up with `no implicit conversion of FFI::MemoryPointer into Integer` if you specify `uid`.

If you remove `uid`, then it works fine.

## Chef Version
15.9.7

## Platform Version
Windows 10

## Replication Case

[code]

And it will blow up.

## Client Output

[2020-09-22 05:03] jaymzh opened #10455 "`windows_user` resource requires plaintext passwords"
## Description
The `windows_user` resource requires plain text passwords. The docs seem to imply it accepts crypted passwords (see [docs bug](https://github.com/chef/chef-web-docs/issues/2663)) I filed, but in fact, it does not and the [tests](https://github.com/chef/chef/blob/ebd04152f0310280c397ef4a269753cf34ef1c37/spec/unit/provider/user/windows_spec.rb#L62) seem to reveal it actually takes a p

[2020-09-22 19:53] haidangwa opened #10457 "ifconfig resource can create lots of blank lines for an interface config file"
### Describe the Enhancement:

Improve the template defined by https://github.com/chef/chef/blob/master/lib/chef/provider/ifconfig/redhat.rb#L29-L47 and used to generate `/etc/sysconfig/network-scripts/ifcfg-*` files so it isn't loaded with blank lines when the if statements return a false value.

### Repro
Define this resource in a chef recipe:
[code]

### Describe the Need:

We use the ifconfig

[2020-09-23 16:18] vsingh-msys opened #10458 "DRY HTTP chef server rest API object"
As of now, the chef server HTTP rest object has been initialized at various places like `Chef::ApiClient`, `Chef::ApiClientV1`, `Chef::Org`, `Chef::User` & `Chef::UserV1`, `Chef::DataBag`, `Chef::DataBagItem`, `Chef::Client` `Chef::Environment` etc.

To make this uniform need to create a mixin so it can accessible wherever we required.

Based on detailed discussion in PR https://github.com/chef/ch

[2020-09-24 02:41] #10441 closed

[2020-09-24 16:52] lamont-granquist commented on #10452
So autoload is triggering on the `module Addressable` definition in addressable/version.rb which is causing addressable.rb to be loaded which first attempts to require `addressable/uri` which is the middle of being processed so that is skipped and it goes on to `addressable/template` which needs `addressable/uri` parsed first, but that hasn't completed yet.  That explains what is happening, but I

[2020-09-24 17:03] lamont-granquist commented on #10452
We could probably fix it in chef/chef since likely all we care about is Addressable::URI and we should probably only be autoloading that.

[2020-09-24 17:04] jaymzh commented on #10356
Turns out there *is* a way to do this already, at least for windows_package - there's a `remote_file_attributes` property which works great! That completely solves my problem, but looking through the code base I see a few that don't have this feature: `cab_package`, and `zypper_repository`.

`packages/deb.rb` uses `remote_file`, but there's no deb_package, and I don't see that `dpkg_package` allow

[2020-09-24 19:38] ramereth commented on #10452
Does this affect any other gems that you know of which are using autoload?

[2020-09-25 00:33] #10452 closed

[2020-09-25 00:59] mwrock commented on #10354
Going over the code again it looks like I missed a key point, the variable is scoped to the `<SYSTEM>` user which effectively scopes it for everyone.

I'm not certain what your repro steps are but assuming you were in an ISE environment and converged a `windows_path` resource. I would not expect the environment to change until you closed and reopened the ISE.

[2020-09-25 16:37] lamont-granquist commented on #10458
This needs to not be done as a one-off and needs to be done as an epic to extract an entire chef-http gem with an object model, making something standalone which is similar to the ridley or chef-api gems, the object model objects should them inherit from common code and have common syntax.

This is not something that MSYS should be doing.

[2020-09-25 16:39] #10458 closed

[2020-09-25 16:42] lamont-granquist commented on #10458
Also when you randomly start to DRY things you run into this issue:

https://sandimetz.com/blog/2016/1/20/the-wrong-abstraction

Where removing code duplication for only the sake of removing code duplication without larger thought into how the design should work and what the abstractions should be, you wind up creating a mess of abstractions which are hard to use.  There are examples of this in th

[2020-09-29 07:41] r-goto commented on #10367
Adding these lines in the `knife.rb` will place the `Users` directory where it's used to be.

[code]

Could this be a workaround for this bug?
Could this change cause any impact after fix release?

--

Also for those already bootstrapped and `Users`/ already placed under /, is it okay to relocate the directory to any intended location manually or should those nodes be bootstrapped again with above

[2020-09-29 08:59] vsingh-msys commented on #10367
Hi @r-goto

_Yes, it will be a workaround. the problem only arises when `file_cache_path` and `file_backup_path`
taking default values._

_Nothing to worry, as the fixes only taking consideration when `file_cache_path` and `file_backup_path` are not set._

_Manually moving to any intended location probably will work, if the node's `/etc/chef/client.rb` file gets updated accordingly._

So please up

[2020-09-29 16:58] tas50 opened #10470 "Autoload of yaml is causing failures in chef-cli gem"
The addition of autoload yaml to chef/chef is causing failures in chef-cli when it requires chef and then requires yaml itself without autoload.

See the adhoc of workstation with 16.5.77 chef/chef

https://buildkite.com/chef/chef-chef-workstation-master-omnibus-adhoc/builds/358#5c4b5b4a-05d7-4bf1-9a68-89925a8fdbe7/103-104

Here's where we require yaml in the env.rb file in chef-cli:
https://githu

[2020-09-29 21:25] ramereth commented on #10452
Confirmed these fix the issue. Thanks!

[2020-09-30 16:35] #10470 closed

[2020-10-01 02:49] r-goto commented on #10367
@vsingh-msys Thank you.
Does the bug also occur on Windows OS? Windows workstation and Windows nodes?

[2020-10-01 07:49] ajayaa opened #10477 "install.sh script doesn't install chef correctly in MacOS"
## Description

We deploy chef to a thousands of MacOS machines using the below script.
`curl -L -o /opt/foo/setup/install.sh https://chef.io/chef/install.sh && sudo bash /opt/foo/setup/install.sh -v 12.17.44`
Recently we started seeing issues where `chef-solo` wasn't found in the path `/usr/local/bin/`. Instead we found out that `/usr/local/bin` gets symlinked to `/opt/chef/bin/chef-client`. Idea

[2020-10-01 20:04] jmherbst commented on #10457
Would this just entail using the `'-'` trim mode on the ERB object https://github.com/chef/chef/blob/master/lib/chef/provider/ifconfig.rb#L239
[code]

Then refactoring the `config_template`s to leverage that trim mode?
Example:
[code]

I'd be happy to make this change, if desired.

Thanks

[2020-10-01 22:56] phiggins commented on #10457
Hi @jmherbst,

That is my impression as well, that using ERB's trim mode would fix the problem. If you'd like to submit a patch for that it would be appreciated.

Alternatively, using ERB for this seems a bit overkill so it might make sense to refactor the code to generate a string in a simpler fashion.

[2020-10-02 00:10] #10429 closed

[2020-10-03 01:52] johnmccrae opened #10481 "Build_essential resource does not work on macos"
## Description
The build_essential resource does not install the command line tools on macos. There are no errors or failure notices. In evaluating this further, it also appears that part of the problem is Apple. While testing this earlier today, I could see 3 possible download options and I was able to download Xcode-12.0. But much later in the day the list had dropped to one choice and you get e

[2020-10-04 21:06] djessich opened #10483 "Missing support of locale Resource on RHEL 7+"
## Description
Currently Chef does not provide setting `/etc/locale.conf` on RHEL/CentOS version 7+ using the locale resource. Only Debian and Windows is supported.

## Chef Version
Chef 15+

## Platform Version
Distribution: RHEL/CentOS
Platform Version: 7+

## Replication Case
[code]

## Client Output
[code]

[2020-10-05 17:05] #10430 closed

[2020-10-05 21:33] karmix opened #10485 "yum_package cannot :install libstdc++.i686 in common situations"
It is currently not possible to use the `:install` action of `yum_package` to ensure that multilib packages (those available as multiple packages for different architectures, such as `libstdc++.i686` and `libstdc++.x86_64`) are always present on a system; it fails in common scenarios.  (`dnf_package` probably has the same problem.)

## Description

I need to ensure that a number of prerequisite pa

[2020-10-06 17:18] lamont-granquist commented on #10485
Is this overly complicated bit important to the failure case or not?

[code]

My first suggestion would be to never use the arch+version properties if you're doing anything complicated, and to instead just do `package "libstdc++-#{pkg['version']}-#{pkg['release']}.i686"` because that goes through a much simpler codepath in the python helper which should perfectly mimic the `yum install` semantics.

[2020-10-07 03:18] karmix commented on #10485
No, it is not important to the failure case.  The failure case is simply scenario1, which shows that `package 'libstdc++.i686'` fails to install a package.  scenario2 and scenario3 are only there to illustrate that it is difficult to find a way to work around this problem in a cookbook.  They were meant to support my case that this should be addressed in `chef-client`, but perhaps they are making

[2020-10-07 19:09] #10428 closed

[2020-10-08 04:54] dheerajd-msys opened #10491 "ZD : Chef v15 windows_task resource incorrectly schedules OnStart task if TimeZone is changed within the same Chef run"
## Description

Changing TZ of the Windows system in Chef v15 correctly adjusts system time, but is not reflected in the current chef-client run context.
If the same chef-client run schedules a windows_task to execute OnStart, the Activate time for the task is set using TZ of chef-client run, not the actual system TZ.
In the situation when TZ changes West (say UTC to EDT [-04:00]), the task will o

[2020-10-08 16:06] paulatAppd opened #10492 "undefined method to_yaml"
## Description

## Chef Version
Starting Chef Infra Client, version 16.5.77

## Platform Version
  platform=centos
  platform_version=7.8.2003
  ruby=ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]

## Replication Case
running chef-client
The recipe chef-client is failing on has been functioning since 2018 and worked in the previous version of chef-client.

# Recipe
# In /var/chef/ca

[2020-10-08 16:35] enrico-usai opened #10493 "value_for_platform is evaluating all the values despite of the OS"
Hi,

I have the following use case.
One of the values to be used in `value_for_platform` is calculated with a function that is RHEL specific and that should be called only for `centos` cases.

The function is defined in the `helpers.rb` file. The bad is that the function is called in the `ubuntu` case too.
[code]

How can I get this behaviour?

[2020-10-08 17:25] phiggins commented on #10493
The `value_for_platform` function decides on a value from the hash by looking at values on `node`. If you want very specific behavior that `value_for_platform` does not support, you're probably better off writing custom code to handle that.

[2020-10-08 17:31] phiggins commented on #10492
This was an unfortunate regression caused by changing how ruby dependencies were loaded in order to speed up loading times. See  #10470 for more information.

You've got a few ways to fix this in your code:
* `require yaml` before any code that uses the `to_yaml` extension
* Change uses of `object.to_yaml` to `YAML.dump(object)`

[2020-10-08 17:51] paulatAppd commented on #10492
Thank you for those workarounds.
Do you know when the regression be fixed in chef?

[2020-10-08 18:01] phiggins commented on #10492
I'm not sure it will be. If your code is relying on something from ruby's stdlib to be loaded, your code should explicitly handle that dependency.

[2020-10-08 19:23] phiggins commented on #10492
I can't speak for Chef's official position on this, but yes that would be my recommendation.

The underlying change was from using `require` to `autoload` to load ruby libraries. This is mostly seamless as code that, for example, referenced the `YAML` constant would continue to work with no changes. Depending on Chef requiring yaml causing the `to_yaml` extension is the type of thing that broke. T

[2020-10-09 09:37] enrico-usai commented on #10493
Ok, thanks @phiggins

[2020-10-09 09:37] #10493 closed

[2020-10-09 11:12] snehaldwivedi commented on #3517
@stevendanna can you please elaborate `Determine which supported versions (if any) require explicit user dissociation(https://github.com/chef/knife-opc/blob/master/lib/chef/knife/opc_user_delete.rb#L33-L39)`  ?

[2020-10-09 13:03] jmherbst commented on #10457
I believe this can be closed out now. Thanks for the suggestion @haidangwa and for the help @phiggins 👍

[2020-10-09 17:11] #10457 closed

[2020-10-09 20:12] Firenice03 commented on #9805
System Info:
  ------------
  chef_version=15.6.10
  platform=aix
  platform_version=7.2
  ruby=ruby 2.6.5p114 (2019-10-01 revision 67812) [powerpc-aix7.1.5.0]
  program_name=/usr/bin/chef-client
  executable=/opt/chef/bin/chef-client

 FATAL: ThreadError: can't create Thread: Resource temporarily unavailable

Even if limits are updated and rebooted...
default:
        fsize = -1
        core = 20

[2020-10-10 01:13] mwrock commented on #10330
closing since all PRs have been merged

[2020-10-10 01:13] #10330 closed

[2020-10-12 12:46] Paxa opened #10496 "Ruby 2.6 endless Range syntax cause syntax error"
This commit https://github.com/chef/chef/commit/6ecacec32423b116e64fdcc11be0e8e18ce94706 make it incompatible with ruby < 2.6. We use chef 12, and somehow in CI it use

[code]

Possible solution: set required_ruby_version in gemspec

https://guides.rubygems.org/specification-reference/#required_ruby_version

<img width="404" alt="Screen Shot 2020-10-12 at 20 38 30" src="https://user-images.githubu

[2020-10-12 13:35] Lasering opened #10497 "Resource "benchmarking""
### Describe the Enhancement:
The Chef client should list at the end of the run the resources which took the longest to run.

### Describe the Need:
This would allow the developer to optimize those resources and get a faster development cycle.

### Can We Help You Implement This?:
Here is a working implementation, further improvements could be made like having a flag in client.rb.

[code]

[2020-10-12 16:03] tas50 commented on #10496
Chef 12 is EOL as is both 13 and 14. At this point you're going to need to pin pretty aggressively to avoid bringing in dependencies with that old of a release. You'll want to look at what gem is trying to pull in chef-utils and pin to an older version of that in your CI.

[2020-10-12 16:03] #10496 closed

[2020-10-12 16:13] Paxa commented on #10496
I'm not asking to fix chef 12 or 13 or 14. But to set `required_ruby_version` in gemspec for sub-gems, so bundler will pick a right version or show meaningful error message

It will also help whose who use chef 15 with ruby < 2.6

In my case chef-config comes from `berkshelf -> ridley -> chef-config`

[2020-10-13 00:16] tas50 opened #10499 "Warnings from our net/http monkeypatch"
We need to clean this monkeypatch up:

[code]

[2020-10-13 12:51] antima-gupta commented on #9983
@nicutor I am not able to reproduce this issue. Could you please provide me more information to reproduce this issue?

#### I followed below steps to reproduce this issue:

### Platform:
`Ubuntu 18.04`

### Chef Infra Client version:
 `16.5.77`

### Recipe:
[code]

### Command:
`chef-client --local-mode --override-runlist chef_resources`

### Output:

### First time run:
[code]
### Second time run

[2020-10-13 16:58] #9746 closed

[2020-10-13 21:41] mwrock commented on #9909
Looks like not only does that debug message have a typo but it shouldn't even be rendered. There is a WinRM bug (which I will fix) that puts the debug message in an `ensure` instead of a `rescue`.

So the core issue here is that the bootstrapper just cant get through to the node. This is likely due to one or both of the following:

1. You have not added an inbound rule allowing `WinRM-HTTP` (port

[2020-10-13 21:41] #9909 closed

[2020-10-14 16:42] lamont-granquist commented on #10492
using `YAML.dump( <stuff> )` instead of `<stuff>.to_yaml` will also cause the library to autoload correctly, and avoid the monkeypatch, which is in general a good thing.

[2020-10-14 18:19] mwrock commented on #9075
Added https://github.com/chef/chef-workstation/issues/1505 to the checklist of this epic which would shave off ~3 seconds on any use of `chef exec` or `chef shell-init`.

[2020-10-14 22:48] #9545 closed

[2020-10-14 23:59] tas50 opened #10503 "Misc cleanup to the chef_client_config resource"
It's shipped, but there are a few things that should get cleaned up for the next release:

- policy_file or policy_group being set requires the other to be set so enforce that.
- Make sure we have all properties for automate reporting
- Fill in the missing descriptions
- Validate the handler hash structure to give friendly error messages
- Add an example of using additional_config to put in arbitr

[2020-10-15 16:42] ayushbhatt29 commented on #8821
@mattray @yogeshlc  i have tested on MacOS 10.15.6 using chefdk 4.11.0, 4.5.0 and 3.11.3 with debian 10.6 node and ubuntu node, the bootstrap is being succeeded without password prompt.

For me starting ssh agent and adding private key to SSH agent worked.

can you please go through these steps and let me know if i am missing anything?

Thanks!

These are the steps that i have followed -

- Setup

[2020-10-15 17:03] lbjay commented on #10496
Excuse me, why was this closed? I'm experiencing the same issue, same situation.

[2020-10-15 19:24] lamont-granquist commented on #8821
my target mode stuff got magically fixed at some point.

@mattray does this work now for bootstrap?

[2020-10-15 22:18] tas50 opened #10507 "Convert default_guard_interpreter to be a real property"
## Description

This behaves like a property to the user, but under the hood, it is implemented as a method. We should convert this to a property to allow automated documentation to work as expected and to simplify the code for future maintenance.

[2020-10-16 03:10] jaymzh opened #10511 "`powershell_package` regression in 16"
## Description

powershell_package resource seems to not work in Chef 16.

## Chef Version

16.6.14

## Platform Version

Ubuntu 18.0

## Replication Case

This:
[code]

Works fine in 15.10.12 but not in 16.6.14

## Client Output

[code]

Debug output added nothing but here's some trace output:
[code]

## Stacktrace

[2020-10-16 06:58] mattray commented on #8821
@lamont-granquist yes, it finds ~/.ssh/id_rsa and works now

[2020-10-16 08:42] ayushbhatt29 commented on #8821
@mattray Thank you so much, closing the issue now as this is no longer a issue.

[2020-10-16 08:42] #8821 closed

[2020-10-16 13:57] aried3r opened #10512 "`gem_package` fails because it is using `which` of `chef-sugar` if available"
## Description

First of all, I don't know if this is the right place, but since a similar issue has been raised previously here (https://github.com/chef/chef/issues/9776), and `chef-sugar` doesn't seem to have an issue tracker, I'll post it here. If this is the wrong place, please let me know!

**TL;DR:** Using `gem_package` when `chef-sugar` is present, because `chef-sugar`'s `which` is being us

[2020-10-16 17:16] tas50 opened #10514 "Chef 17: Remove support for sys-v on Debian platforms"
For Chef 17 we should consider removing support for sys-v on Debian platforms. Other than Duvian there are no supported releases of Debian platforms with sys-v support.

[2020-10-16 17:16] tas50 opened #10515 "Chef 17: Remove Debian Upstart support"
Now that Ubuntu 14.04 is EOL we should consider removing Upstart support for Debian in Chef 17

[2020-10-16 21:54] tas50 commented on #10492
I've added a Cookstyle rule to catch this in the Cookstyle 6.21 release. It will autocorrect any .to_yaml code to be YAML.dump() instead. You can either pull in that new gem or make that change manually.

[2020-10-16 21:54] #10492 closed

[2020-10-19 16:47] lamont-granquist opened #10527 "Complete remaining conversion of unified_mode resources"
These are the only resources not done yet:

./windows_env.rb
./windows_feature.rb
./windows_package.rb
./windows_path.rb
./windows_service.rb
./windows_task.rb
./windows_workgroup.rb

[2020-10-19 17:09] tas50 commented on #10477
@ajayaa Chef 12.17 has not been supported for several years. We currently support 15.x and 16.x releases. Those have had significant changes to how they're packages over 12.x. Please give this a try with a new release of Chef Infra Client and feel free to open it back up if you're still seeing the issue.

[2020-10-19 17:09] #10477 closed

[2020-10-19 17:10] tas50 commented on #10454
@jaymzh Any chance you can see if this is an issue on 16.6 as well?

[2020-10-19 18:06] tas50 commented on #3509
bridge_ports is already there and I've added the bridge config to RHEL based systems in https://github.com/chef/chef/pull/10529

[2020-10-19 18:32] #3509 closed

[2020-10-20 03:33] mwrock commented on #10103
closed via https://github.com/chef/omnibus/pull/977

[2020-10-20 03:33] #10103 closed

[2020-10-20 04:34] #10179 closed

[2020-10-20 09:26] etki opened #10537 "ArgumentError in snap provider"
This a simple one. Snap provider [calls](https://github.com/chef/chef/blob/22da1bce7cc6b002dc602870a7bc8c4ad6e508d9/lib/chef/provider/package/snap.rb#L69) `install_snaps(names)`, while the signature of `install_snaps` is [`(names, versions)`](https://github.com/chef/chef/blob/master/lib/chef/provider/package/snap.rb#L268), i.e. one argument is passed instead of two and that results in ArgumentErro

[2020-10-20 20:28] mwrock commented on #10511
What version of windows are you running that resource on? I'm guessing it is 2016 or under? Powershell will use tls1.0 by default on OS versions prior to 2019. Recently the powershell gallery requires tls 1.2. Unfortunately when you issue package commands, the error message does not just tell you you are on a unsupported tls. Now the fact that 15.10.12 works is actually a bug and it really doesn't

[2020-10-20 20:31] jaymzh commented on #10511
Windows 10. Same regression on 2012. Where's the TLS coming from, it's all local commands?

[2020-10-20 20:38] mwrock commented on #10511
On windows 10 it will depend on the build and I don't know what the cutoff was. I was not able to repro on my windows 10 but I have the latest release build. I would expect the same error on 2012 (assuming the tls settings are unchanged). If you run `Get-Package` after it "works" on v15, do you see the `ComputerManagementDsc` package included?

The commands are powershell package management comman

[2020-10-20 20:43] mwrock commented on #10511
looks like this was the PR that fixed the error suppression in v15

[2020-10-20 20:44] jaymzh commented on #10511
Huh. It is not in fact listed. Yet, I'm able to *use* that DSC....

[2020-10-20 20:52] mwrock commented on #10511
How about running `Get-DscResource -Module ComputerManagementDsc`? Does that show it?

[2020-10-20 20:56] jaymzh commented on #10511
[code]

[2020-10-20 20:56] mwrock commented on #10511
What is the resource from that package that you are able to use?

[2020-10-20 21:01] jaymzh commented on #10511
[code]

[2020-10-20 21:03] jaymzh commented on #10511
Oh, I apologize. I was running that on a machine where we weren't using that (2012). Here's a machine where we were (10):
[code]

And that was, in fact installed by that `powershell_package` DSC. It also shows up in get-package:

[code]

[2020-10-20 21:05] jaymzh commented on #10511
So it's possible that:
* 2012 - the install was always failing, silently, and we didn't notice because we weren't using that resource
* 10 - it was always working because it's a new-enough build, but I hadn't tried an upgrade there, so this failure wouldn't show up there.

Not entirely certain. I can add a `:registry` `dsc_resource` to set the key you mention to work around all of this and see if

[2020-10-20 21:06] mwrock commented on #10511
Yeah I think that would be the right work around.

[2020-10-20 21:07] jaymzh commented on #10511
It seems to me like either the resource should set that, or provide a better error or ... I'm not entire certain what other options are. As it stands, it seems bad.

[2020-10-20 21:11] mwrock commented on #10511
I probably would not want to make a magical registry edit (even though technically people should edit their registry). But we could prepend the PS command with `[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12` which will set it for the shell that chef has spawned.

[2020-10-20 21:59] Firenice03 opened #10623 "Chef Workstation Bootstrap fails - incorrect directory created."
## Description
When Chef fails on AIX (known problem Thread Error) creates an incorrect directory. Formatted to mimic Windows C:/
/home/MINE/Cefche/chef-stacktrace.out

256 Oct 20 17:26 Cefche
ls Cefche
ls: 0653-341 The file Cefche does not exist.

ls C:^Hef^Ache/
chef-client-running.pid  chef-stacktrace.out      cookbooks

Its attempting to mimic the Windows directory in Nix... I've seen similar

[2020-10-21 01:53] #10511 closed

[2020-10-21 12:35] antima-gupta commented on #9983
@nicutor Can you please get back to me on this?

[2020-10-21 18:12] mwrock commented on #9898
I could not get this to repro. On a 2016 VM with chef 15.10.12 installed:

[code]

[2020-10-21 18:15] mwrock commented on #9898
I'm going to close for now. But please reopen if you continue to hit this. Also please include a public url for `Invoke-RestMethod` since it is hard to know if your url might be a factor but I can't tell what it is.

[2020-10-21 18:15] #9898 closed

[2020-10-22 18:05] tas50 opened #10546 "Update to Ruby 3.0"
### Describe the Enhancement:

Update Chef Infra Client to Ruby 3.0

### Describe the Need:

Every year we bump to the latest Ruby release so we don't fall behind and so we deliver any new enhancements to customers.

### Work to Complete

#### Planning Work

- [ ] Investigate potential breaking changes since this is a major release and make a go/no go plan

#### Preparation Work

- [x] Add Ruby 3

[2020-10-23 08:43] shail248 commented on #10367
Hi @vsingh-msys When can we expect the release with the fix

[2020-10-23 14:20] igolman commented on #10537
Same here...

[2020-10-23 20:27] danielcbright commented on #9018
I can confirm this is still an ongoing issue

[2020-10-26 17:47] tas50 commented on #10499
This may require Ruby 2.7.2 to repro

[2020-10-26 18:48] #10499 closed

[2020-10-26 18:48] tas50 commented on #10499
Fixed!

[2020-10-26 20:51] trickyearlobe opened #10552 "windows_user_privilege resource fails for SeTimeZonePrivilege"
## Description
`windows_user_privilege` resource fails when trying to set the users who can exercise the `SeTimeZonePrivilege` right.

The problem occurs regardless of whether the resource is in desired state or not.

## Chef Version
Various `16.x` including `16.6.14`

## Platform Version
Windows 10, Windows 2008r2, Windows 2016, Windows 2019

## Replication Case
Make a cookbook with the following

[2020-10-26 23:43] tas50 opened #10556 "Update ifconfig resource to support the new Network Manager keyfile format"
Fedora 33 and later (and probably RHEL 9+) switched from the legacy ifcfg format used by Network Manager to the keyfile format. This stores all network configs at /etc/NetworkManager/system-connections instead. The format is probably workable with the set of properties we have. We just need to build a provider for Fedora 33+ / RHEL 9+ that uses this format.

[2020-10-26 23:43] tas50 commented on #10556
Testing of ifconfig on Fedora 33+ disabled in https://github.com/chef/chef/pull/10555

[2020-10-26 23:44] tas50 commented on #10556
See https://fedoraproject.org/wiki/Changes/NetworkManager_keyfile_instead_of_ifcfg_rh for details on the change

[2020-10-27 13:19] stevendanna commented on #3517
@snehaldwivedi Apologies but I don't think I am going to remember the full details of a comment I made 5 years ago.  However, looking at the opc_user_delete code, we have a large amount of code that gets all of the organizations for the user and then dissociates the user from each of those organizations before deleting them:

https://github.com/chef/knife-opc/blob/master/lib/chef/knife/opc_user_de

[2020-10-27 19:15] tas50 opened #10561 "Move fips? from chef-config to chef-utils"
### Describe the Enhancement:
We should move fips? from chef-config into chef-utils. We can make the chef-config method backwards compatible for now, but this sort of thing belongs in the chef-utils going forward.

[2020-10-27 23:41] OBrienCommaJosh opened #10563 "Change copyright to reflect Progress Software Corporation rather than Chef Software Inc."
#### Note: GitHub integration record type. Please leave out any sensitive information.<br/>

Going forward for each new release of a Chef product after the closing, the Chef copyright notice in the product code, including any About Boxes or other areas where a Chef copyright notice may currently exist in connection with such product, should be replaced with the following Progress copyright notice,

[2020-10-28 03:26] vsingh-msys commented on #10367
Hey @shail248 the fixes required some major changes related to target mode, will re-look into this Thanks!

[2020-10-28 04:00] Blorpy opened #10564 "dnf_package idempotence problem"
## Description

dnf_package resource always indicates it installs/updates one package, even though the appropriate version is installed.
## Chef Version

15.14.0
## Platform Version

CentOS 8
## Replication Case

Resource looks as follows and works fine on CentOS6 and CentOS7, but they are using the yum_package resource of course.

[code]

node['icinga2client']['version'] = '2.12.1-1' and node['ic

[2020-10-28 06:18] dheerajd-msys opened #10565 "ZD : 16.5.x nodes are reporting a handler error when run as systemd service"
## Description

Nodes are receiving the below error when reaching the audit handler portion only when chef-client is initiated from the systemctl service. They work fine when run manually as root.
[code]
## Chef Version

16.5.x
## Platform Version

## Replication Case

Install/configure Chef Infra Client 16.5.64 or 16.5.77 under systemd on a node with has audit/compliance reporting enabled
## Clie

[2020-10-28 19:09] tas50 commented on #10453
@antima-gupta Any chance you can take a look at this one along with your other mount work?

[2020-10-28 23:01] balkarsinghkang opened #10571 "Ruby 3.0 Deprecation Warnings. Chef Client needs to Ruby 3.0."
## Description
After upgrading chef client to 16.6.14, ruby depreciation warnings are generated from win32-process gem.

Chef Infra Client finished, 7/140 resources updated in 02 minutes 12 seconds
C:/opscode/chef/embedded/lib/ruby/gems/2.7.0/gems/win32-process-0.8.3/lib/win32/process.rb:744:in `kill': warning: $SAFE
 will become a normal global variable in Ruby 3.0 (StructuredWarnings::BuiltInWar

[2020-10-28 23:05] tas50 commented on #10571
This is technically for win32-process gem, but it's useful to track it here since the impact is on chef/chef.

[2020-10-29 04:45] antima-gupta commented on #10453
@tas50 Sure I'll look into this, currently working on another priority stuff.

[2020-10-29 05:47] #8260 closed

[2020-10-29 19:58] mwrock commented on #9018
#10577 should fix this. I think since this issue was filed `--secret` is busted in addition to `--secret-file`.

[2020-10-29 20:53] #10571 closed

[2020-10-29 21:06] #9018 closed

[2020-10-29 22:52] #8713 closed

[2020-10-29 22:52] tas50 commented on #8713
Fixed in master

[2020-10-29 22:54] tas50 commented on #10546
https://github.com/chef/win32-process/pull/31 Fixed one of our Ruby 3 issues

[2020-10-30 15:24] aknarts opened #10582 "ImmutableMash inconsistent access to values"
## Description
When trying to determine if a key in a Hash exists I noticed that the functionality changed between versions we are moving from/to.

Based on how the hash is set up we can either get a valid response from the Mash .has_key? function or not this used to be ok, now it is broken.

The use case I found this in was setting up attribute at runtime, storing them in the node object and gett

[2020-10-30 18:02] lamont-granquist commented on #10565
That looks like an audit cookbook bug and not a chef-client bug

[2020-10-30 19:07] lamont-granquist opened #10585 "Why run mode and therefore before notifications are broken across many resources and load_current_resource does not fire in why run mode"
See for example:

https://github.com/chef/chef/issues/8556

This is a widespread problem which hampers the ability to use before notifications outside of package or file and possibly a few other resources.

In general it is advised to never use before notifications other than for the stop-the-service-before-a-package-resource idiom.  Instead prefer to write recipes/resources such that straightforw

[2020-10-30 23:23] mwrock commented on #10552
This is likely because Windows will not function correctly if the `LocalService` user is removed from that priviledge. Because you are assigning only `Administrators`, the resource will attempt to remove all users already assigned that are NOT in Administrators. If you change your `users` to `['LOCALSERVICE','BUILTIN\Administrators']` then the resource should succeed.

[2020-10-30 23:23] #10552 closed

[2020-11-02 14:23] antima-gupta commented on #9983
@nicutor Closing this issue since we are unable to reproduce. Could you please check with latest chef and let me know if you still facing the same.

[2020-11-02 14:23] #9983 closed

[2020-11-02 16:32] evandam commented on #10537
Seeing the same here with

[code]

Using `action :upgrade` seems to work but isn't always ideal.

[2020-11-02 16:54] evandam opened #10589 "Cannot install snap_package with --classic option"
## Description

Attempting to install a snap package that requires `--classic` always fails. I also currently can only use `:upgrade` (not `:install`) from https://github.com/chef/chef/issues/10537.

## Chef Version

Chef Infra Client, version 15.13.8

Confirmed this happens in `16.6.14` in Test Kitchen as well.

## Platform Version

Ubuntu 18.04

## Replication Case

[code]

## Client Output

[co

[2020-11-02 18:01] nicutor commented on #9983
@antima-gupta thank you.

As soon I will be able to spend some time to re-test this, I will let you know if works or not.

[2020-11-02 18:29] tas50 commented on #10455
@mwrock Any thoughts?

[2020-11-02 19:03] tas50 opened #10591 "Snap Package Support"
Chef Infra Client currently includes a largely non-functional snap_pacakge resource. Snap is becoming a very common thing for Ubuntu users and we've received probably a dozen different reports that the resource is broken. We probably need to take a step back here and reboot this resource with a ground-up rewrite to ensure we support this common package format on Ubuntu.

[2020-11-02 19:03] tas50 opened #10592 "snap"

[2020-11-02 19:04] tas50 opened #10593 "snap_package"

[2020-11-02 19:04] #10592 closed

[2020-11-02 19:04] #10593 closed

[2020-11-02 19:06] tas50 opened #10594 "Evaluate the current snap_package resource codebase"
We need to crack up open the current snap_package resource codebase and determine if it is something we want to work with or if we should start from scratch and write a new resource.

[2020-11-02 20:16] mwrock commented on #10455
Definitely a docs bug. The `NetUserSetInfo` api we call to edit user info only accepts a plain text string.

[2020-11-04 12:39] antima-gupta commented on #10453
@axelrtgs To make `mount` resource idempotent, I used `findmnt -rn` command. `findmnt -rn` list the currently mounted file systems along with target mount point, and the source device.
Since it's idempotent, so If mounts will keep trying to get remounted, it will fail because the device is already mounted.

Here is the [Regex](https://github.com/MsysTechnologiesllc/chef/blob/4e6234d500475ec772ae2f

[2020-11-04 13:37] srb3 commented on #10565
@lamont-granquist I have a customer that is using the same version of the audit cookbook (v9.4.0), but gets this error when they upgrade to chef client 16.5.77 from 16.2.50

[2020-11-04 17:01] axelrtgs commented on #10453
So the issue is that the current regexes are not matching with `/backups //MTLNAS/Servers/backup[/backup] cifs rw,relatime` causing it to not be idempotent.

The goal of this issue is to fix the regex so it can be idempotent again. Right now even though it is already mounted on every chef run it has the unwanted behaviour of trying to mount it again resulting in an error that the device is busy.

[2020-11-04 17:51] tecracer-theinen opened #10600 "registry_key for :binary type is bugged and/or undocumented"
## Description

When trying to write a `:binary` value with the `registry_key` resource, the "common" ways of doing it won't write binary data but their ASCII values.

## Chef Version

16.2.73

## Platform Version

Windows 2019

## Replication Case

When writing

[code]

The value will be written but will be 48 (0x30) which is the ASCII character of "0"

The correct way of doing this would be:

[c

[2020-11-04 18:27] antima-gupta commented on #10453
@axelrtgs could you please provide more information such as recipe and error logs to reproduce the issue?

[2020-11-04 18:50] axelrtgs commented on #10453
[code]
error
[code]

[2020-11-04 18:55] axelrtgs commented on #10453
if you simplify the resource to its basics the error still occurs.

[code]

[2020-11-05 13:22] sanga1794 commented on #10364
Closing this issue as resolved in https://github.com/chef/chef/pull/10505.

[2020-11-05 13:22] #10364 closed

[2020-11-05 19:03] collinmcneese commented on #10565
I ran in to this working with a customer as well and confirmed the results in a local A2 vagrant setup.  Looks like `16.4.41` is working fine but `16.5.64` introduces the error.

[code]

[2020-11-06 09:53] srb3 commented on #10565
Some images to support this:
5 clients with different chef client versions, running audit cookbook pulling a inspec profile from chef automate
![Selection_342](https://user-images.githubusercontent.com/28541829/98352093-7e484680-2015-11eb-9d29-c25b218bdb10.png)
Compliance results:
![Selection_343](https://user-images.githubusercontent.com/28541829/98352347-cebfa400-2015-11eb-8050-03a5871c3f0d.png)

[2020-11-06 13:42] sanga1794 commented on #5797
HI @NimishaS, i have tried with forward slash in path but not able reproduce the issue, instead of that while working with the backward slash i'm facing issue. Below are the details of error:

**Recipe:**
[code]

**Error:**

[code]

[2020-11-06 13:46] dheerajd-msys commented on #10565
Hello @collinmcneese @srb3 I tried to reproduce this issue from my end but no such error as in your logs.
Please check and confirm if there is anything missing.

[code]
Please revert with steps that I can use to reproduce.

[2020-11-06 13:49] collinmcneese commented on #10565
So things work fine if you run `chef-client` interactively, because that has the `HOME` env var set.  The problem is when `chef-client` is running as a service/daemon, then you'll see the errors.

On my config, I have the interval set down to `30` seconds so that i can get a faster feedback loop then the error appears when tailing the message log (and when sending results in to Automate as @srb3

[2020-11-06 14:10] collinmcneese commented on #10565
This is definitely a `HOME` expansion-related issue -- if i add `ENV['HOME'] = '/etc/chef'` to my `client.rb` (or in my case added it to `/etc/chef/client.d/env.rb` since I'm using the `chef-client` cookbook) the error goes away when running as a service as well

[2020-11-08 11:29] srb3 opened #10606 "chef_client_config is not rendering a correct client.rb"
## Description
It seems that the client_config template is inserting an `=` sign in-between properties and values.
This does not seem to be valid config causing the chef-client binary to ignore the config values.

## Chef Version
16.6.14

## Platform Version
CentOS 7.9
Windows 2019

## Replication Case
Create a recipe with:
[code]

run chef-client on a node with that cookbook and recipe
inspect th

[2020-11-08 13:15] srb3 opened #10607 "Error if log_location is set in chef_client_config resource"
## Description
Setting the log_location in the chef_client_config resource causes the client run to fail

## Chef Version
16.6.14

## Platform Version
CentOS 7.9

## Replication Case
Set the following recipe code
[code]

## Client Output

[code]

## Potential Fix
I have not really come across this error before in this kind of context, but if you change this line:
[code]
to:
[code]
Things work as e

[2020-11-09 06:47] dheerajd-msys opened #10611 "ZD : IPAddr::AddressFamilyError: address family must be specified"
## Description

Per one of the customers, he is facing the below error Upon upgrading chef client to version 14.x to 16.3.45.1, a couple servers out of ~100 servers, have the error which is attached to this ticket.

**On Working Node**
[code]
**Non - Working Node:**
[code]
## Chef Version

## Platform Version

## Replication Case

## Client Output

[code]

## Stacktrace

[2020-11-10 17:04] #10201 closed

[2020-11-10 20:36] tas50 opened #10615 "Solaris test failures in mount due to mount refactoring"
The changes in https://github.com/chef/chef/pull/10566 introduced a regression in mount on Solaris, which we didn't recognize since we had the Solaris builds deactived. Now that Solaris builds are about to be enabled we need to resolve this failure so we can ship Chef Infra Client.

[code]

[2020-11-10 21:11] tas50 opened #10616 "Resolve failures preventing us from enabling Solaris builds again"
[code]

[2020-11-10 21:14] #10527 closed

[2020-11-10 21:14] tas50 commented on #10527
Done

[2020-11-10 21:15] tas50 commented on #10607
Fixed in master

[2020-11-10 21:15] #10607 closed

[2020-11-10 21:15] tas50 commented on #10606
Fixed in master

[2020-11-10 21:15] #10606 closed

[2020-11-10 23:51] tas50 opened #10618 "Remove pry-remote dependency"
This seems to have very limited usefulness for troubleshooting. Perhaps we can remove this and reduce our overall list of dependencies. It's fairly unmaintained at this point.

[2020-11-10 23:52] tas50 commented on #10618
The same chance could be made in chef-workstation as we ship it there

[2020-11-11 00:43] tas50 opened #10620 "Chef 17: Remove Ubuntu 16.04 packages"
We can remove Ubuntu 16.04 packages after April 2021 when 16.04 goes EOL.

Edit https://github.com/chef/chef/blob/master/.expeditor/release.omnibus.yml to build on 18.04 and test on 18.04/20.04.

Run an ad-hoc job https://buildkite.com/chef/chef-chef-master-omnibus-adhoc/ of the branch

[2020-11-11 04:49] tas50 commented on #10623
@Firenice03 I've moved this to the chef/chef repo since that's where the bootstrap code actually lives. I suspect we've fixed this with the latest code here. That code shipped in the last few releases of workstation. Can you confirm if you're running into this issue with the latest workstation release?

[2020-11-11 04:50] tas50 commented on #10624
Moving this to chef/chef where it belongs

[2020-11-11 13:30] sanga1794 commented on #10611
Hello there, I have tried to reproduce the issue but not able to reproduce below are the steps i followed:
1) bootstrapped a node with chef-client version: `14.15.6`.
2) Updated a chef-client version to 16.3.45 using both the `curl` command and `chef_client_updater` cookbook.
3) By using chef-shell checked `Chef.node['ipaddress']`, `Chef.node['network']['default_interface']`, both are working fine

[2020-11-11 15:51] tas50 commented on #10453
I believe we have this fixed by #10614. I'll let you know when we resolve our windows build issues and get this out to the current channel. It would be great to know if this resolves all your issues or if we need to spec out a few more scenarios.

[2020-11-11 15:51] #10453 closed

[2020-11-11 19:03] tas50 opened #10626 "Chef 17: Remove the service manager"
## Description

We've moved users away from running Chef Infra Client as a windows service since at least Chef 13. We should complete that move by removing the legacy service manager code. That forces the migration for the remaining users and reduces the overall code we need to support.

[2020-11-11 19:05] tas50 opened #10627 "Chef 17: Remove support for chef-solo legacy mode"
## Description

Removing Chef Solo legacy mode moves us to a single code path for executing Chef Infra Client runs and reduces overall complexity/maintenance burdens. From a user perspective, there are simply too many ways to run the Chef Infra Client and we need to finalize this deprecation and just remove the legacy mode.

[2020-11-11 19:16] tas50 commented on #10512
Potential workaround: https://github.com/chef/chef/pull/10628

[2020-11-11 19:37] lamont-granquist commented on #10512
The correct way to fix this looks like:

1.  backporting the chef-utils which into chef-sugar, including support for the optional arguments -- being careful to preserve the wiring to the default_paths.

2.  having chef-sugar disable the injection of its which mixin enirely on chef-client >= 16 so that it doesn't try to conflict any more

there doesn't appear to be any inherent conflict between the

[2020-11-11 21:13] tas50 commented on #10512
This should be resolved in chef-sugar 5.1.12 with this merge: https://github.com/chef/chef-sugar/pull/21

You'll want to upgrade to the latest chef-sugar before trying to write code that runs on Chef Infra Client 16+ as well as older releases.

[2020-11-11 21:13] #10512 closed

[2020-11-12 00:45] #10600 closed

[2020-11-12 02:17] tas50 opened #10635 "Mount resource changes broke specs on AIX"
The changes to the mount resource have broken aix tests, which are causing build failures.

[code]

[2020-11-12 02:50] mgivi opened #10636 "Error when running knife solo cook command"
Hi there,
I installed the latest version of chef with these configuration
`gem "berkshelf", "~> 7.0.10"

gem "chef", "~> 16.6.14"
gem "knife-solo", "~> 0.7.0"
gem "knife-ec2", "~> 2.1.0"`

But when I run the command knife solo cook ubuntu@xxxx.com I get these errors:
Traceback (most recent call last):
	14: from /usr/local/bin/knife:23:in `<main>'
	13: from /usr/local/bin/knife:23:in `load'
	12: fr

[2020-11-12 04:03] mattray commented on #10094
This was released with Chef Client 16.6: https://docs.chef.io/resources/chef_client_config/

[2020-11-12 04:03] #10094 closed

[2020-11-12 08:36] bjozet commented on #8225
Output from a stuck chef-client strace:
[code]

[2020-11-12 09:45] vsingh-msys opened #10637 "knife bootstrap does not respecting HOST:PORT format"
## Description

- NameError: uninitialized constant `Net::SSH`

- After required `net/ssh` If we pass target host with the port it is not respecting the format HOST:PORT eg.
[code]

## Chef Version

Chef Infra Client: 16.7.39

## Platform Version

Ubuntu 16, 18

## Replication Case

[code]

## Client Output

without `net/ssh` require
[code]
After `net/ssh` require:

[code]

[2020-11-12 16:42] #7690 closed

[2020-11-12 18:34] mwrock commented on #10624
Looking at 20.8.125, the DLL is definitely not where it is supposed to be. I installed the latest version 20.10.168 and the DLLs are installed correctly and I have confirmed that `powershell_exec` works.

[2020-11-12 18:34] #10624 closed

[2020-11-12 18:49] phiggins commented on #10636
Hi,

`knife-solo` looks to be unmaintained and specifically mentions not keeping up with development of recent releases of Chef: https://github.com/matschaffer/knife-solo

It is likely that knife-solo does not work with recent releases of Chef. Your best options then are to figure out an alternative to knife-solo or figure out the last compatible release of Chef and pin to that.

Regardless, suppo

[2020-11-12 18:49] #10636 closed

[2020-11-12 20:42] #10637 closed

[2020-11-13 00:19] Firenice03 commented on #10623
@tas50 Thanks, I will test the newer version - it may be sometime next week thou..

[2020-11-13 01:21] jaymzh opened #10640 "group resource doesn't say what changed on Windows"
## Description

Just says "group altered" which is not useful, it should say what changed as other resources do.

## Chef Version
16.6.14

## Platform Version
Windows

I'll have a PR shortly...

[2020-11-13 01:22] jaymzh opened #10641 "Group member administration is not idempotent on Windows"
## Description

The `group` resource on Windows doesn't seem to translate group SIDs to names and thus isn't idempotent as it re-sets the members every run.

## Chef Version
15.9.17

## Platform Version
Windows 10

## Replication Case
[code]

## Client Output

There is no useful output due to https://github.com/chef/chef/issues/10640
but I added some and here's what you get:

[code]

[2020-11-13 10:54] stevendanna commented on #10272
Unless I am misssing something, I think we need to do the following:

- Have a conversation with the customer about this to understand their expectations here better and explain (perhaps with some documenation we write) about how `client.pem` is for us the host-specific credential for chef-client and how we expect it to be protected with operating system level file permissions.

Based on that conv

[2020-11-13 11:36] trickyearlobe commented on #10272
I'm also against (3) as it gives people a false sense of security and is usually trivial to break for anyone serious about hacking.

In addition to Hashi, (2) could for sure work in clouds that have their own secrets management solutions like AWS/Azure where secrets can be protected by IAM or Service Principals assigned to the machine by the provisioner. The downside to that is managing the lifecy

[2020-11-13 16:03] #10615 closed

[2020-11-13 18:45] #10641 closed

[2020-11-13 19:09] tas50 commented on #10455
Closing this out here based on the comment from @mwrock

[2020-11-13 19:36] jaymzh commented on #10455
@tas50 as it stands the docs are incosistent, sure, but this is still a code bug. There are other APIs that we could use instead of NetUserSetInfo, right @mwrock

[2020-11-13 19:47] jaymzh opened #10645 "user resource doesn't say what changed"
Same as #10640 but for the `user` resource

## Description

Just says "user altered" which is not useful, it should say what changed as other resources do.

## Chef Version
16.6.14

## Platform Version
Windows, Linux

[2020-11-13 20:02] mwrock commented on #10455
Not that I am aware of @jaymzh. There is also `NetUserChangePassword` but that also takes plain text.

[2020-11-13 20:39] jaymzh commented on #10455
all of these accept a `Credential` - is it possible to somehow create and export an encrypted credential string and pass that in?

[2020-11-13 21:19] tas50 opened #10646 "Chef 17: Drop macOS 10.13 support and dscl_user resource"
We have traditionally supported the last 3 macOS releases. That means we are now supporting 10.14, 10.15, and 11.0. If we drop 10.13 from our build / support matrix we can also remove the dscl_user resource from the codebase.

[2020-11-13 21:22] mwrock commented on #10455
There are Powershell cmdlets that accept a `credential` argument. Those cmdlets will store the password as a `SecureString` but internally they will decrypt to plain text and call .Net APIs which will then call native APIs to set the password. As far as I know, there is no native windows api that will take an encrypted password. The best we could do I think is allow users to encrypt the password a

[2020-11-16 18:22] tas50 commented on #6645
Closing this for now. The cookbook is in pretty good shape and this is low priority to merge into core. If someone wanted to do it for us that would be great, but we won't.

[2020-11-16 18:22] #6645 closed

[2020-11-16 18:22] tas50 commented on #6644
Closing this for now. The cookbook is in pretty good shape and this is low priority to merge into core. If someone wanted to do it for us that would be great, but we won't.

[2020-11-16 18:22] #6644 closed

[2020-11-16 18:22] #6643 closed

[2020-11-16 18:25] tas50 commented on #7407
Closing this as a low priority resource to port. If there's a perl user out there that wants to do this we'd love it, but we won't be doing it with Chef time.

[2020-11-16 18:25] #7407 closed

[2020-11-16 18:28] tas50 commented on #10556
Related to https://github.com/chef/chef/issues/3862

[2020-11-16 18:31] lamont-granquist commented on #7242
closing as subtask of #3862

[2020-11-16 18:31] #7242 closed

[2020-11-16 18:32] lamont-granquist commented on #10556
closing as dup of #3862

[2020-11-16 18:32] #10556 closed

[2020-11-16 18:36] tas50 commented on #8793
If someone would like to build a property of `reset_hard_before` we'd accept that PR, but this isn't an issue that Chef will be working on directly.

[2020-11-16 18:36] #8793 closed

[2020-11-16 18:50] tas50 commented on #9131
@lamont-granquist Is going to leave some additional thoughts here from our triage today

[2020-11-16 18:53] #8299 closed

[2020-11-16 18:53] tas50 commented on #8299
Closing since we shipped a resource for this.

[2020-11-16 18:54] tas50 commented on #9748
I'm going to close this out since this is something that support is going to have to lead. If something is designed and submitted as a PR that's fine, but it's not really going to get prioritized via GH.

[2020-11-16 18:54] #9748 closed

[2020-11-16 18:57] lamont-granquist commented on #9131
Yeah I think I've relented, but the correct way of doing this is using a `state_property` on the new_resource which is loaded by the provider.  It is possible that we need another kind of property to document this stuff correctly while making it clear that these are not to be set, but are consumed.  Now that we have unified_mode this would work reasonably well, before it would be horrible.

[2020-11-17 00:24] #10649 closed

[2020-11-17 00:24] tas50 commented on #10649
Closing this out since we were unable to get additional information on the problem.

[2020-11-17 00:40] tas50 commented on #10594
This will be looked at in https://github.com/chef/chef/issues/10591

[2020-11-17 00:40] tas50 commented on #10589
This will be looked at in https://github.com/chef/chef/issues/10591

[2020-11-17 00:46] tas50 commented on #10366
Thanks for submitting this issue. After review by the team, we've decided that this isn't something that we're going to work on ourselves. We receive dozens of new issues a month, which is more than our team can possibly work on. This means we must prioritize work and be honest about what we're able to get done as a team.  That doesn't mean that we think this is a bad idea or isn't a necessary cha

[2020-11-17 00:46] #10366 closed

[2020-11-17 00:46] tas50 commented on #8760
Thanks for submitting this issue. After review by the team, we've decided that this isn't something that we're going to work on ourselves. We receive dozens of new issues a month, which is more than our team can possibly work on. This means we must prioritize work and be honest about what we're able to get done as a team.  That doesn't mean that we think this is a bad idea or isn't a necessary cha

[2020-11-17 00:46] #8760 closed

[2020-11-17 00:47] tas50 commented on #6863
Thanks for submitting this issue. After review by the team, we've decided that this isn't something that we're going to work on ourselves. We receive dozens of new issues a month, which is more than our team can possibly work on. This means we must prioritize work and be honest about what we're able to get done as a team.  That doesn't mean that we think this is a bad idea or isn't a necessary cha

[2020-11-17 00:47] #6863 closed

[2020-11-17 00:47] tas50 commented on #9015
Thanks for submitting this issue. After review by the team, we've decided that this isn't something that we're going to work on ourselves. We receive dozens of new issues a month, which is more than our team can possibly work on. This means we must prioritize work and be honest about what we're able to get done as a team.  That doesn't mean that we think this is a bad idea or isn't a necessary cha

[2020-11-17 00:47] #9015 closed

[2020-11-17 00:48] tas50 commented on #2269
Thanks for submitting this issue. After review by the team, we've decided that this isn't something that we're going to work on ourselves. We receive dozens of new issues a month, which is more than our team can possibly work on. This means we must prioritize work and be honest about what we're able to get done as a team.  That doesn't mean that we think this is a bad idea or isn't a necessary cha

[2020-11-17 00:48] #2269 closed

[2020-11-17 00:49] #2908 closed

[2020-11-17 00:50] tas50 commented on #2908
This is resolved in 16.7

[2020-11-17 00:54] tas50 commented on #5055
We fixed this back in 15.1

[2020-11-17 00:54] #5055 closed

[2020-11-17 00:56] tas50 commented on #4863
This was resolved in #8462

[2020-11-17 00:56] #4863 closed

[2020-11-17 06:52] dheerajd-msys commented on #10272
Closing this per https://github.com/chef/customer-bugs/issues/211#issuecomment-727004238

[2020-11-17 06:52] #10272 closed

[2020-11-17 10:36] #10373 closed

[2020-11-18 04:28] mattray commented on #10565
FYI it also affects any knife calls from within an execute resource

[2020-11-18 17:38] mcascone opened #10655 "Knife bootstrap throws error after successful run"
## Description
Bootstrap windows operation throws an error at the end of the run, even though it's successful. I see this happen when the `powershell` download attempt fails, but the backup method works.

It appears to be rooted in a TLS error, i have been able to get around this when curl'ing with powershell manually by using `-k` (i think) to either ignore TLS or force it to a higher version (i

[2020-11-18 17:53] bby-bishopclark commented on #10645
you may be able to pull something from my discarded pull/7716 .

[2020-11-18 17:56] jaymzh commented on #10645
Thanks @bby-bishopclark looks like you did similar to what I did for the `group` resource in #10642 ... so yeah I imagine fixing user will be similar.

[2020-11-18 17:59] bby-bishopclark commented on #10645
Yeah.  Sorry it didn't get anywhere back then.

[2020-11-18 18:12] mwrock commented on #10655
This should go away when #10574 is shipped.

[2020-11-18 18:12] #10655 closed

[2020-11-18 18:55] jaymzh commented on #10645
I'll have a PR today

[2020-11-18 18:56] mcascone commented on #10655
Thank you Matt! I'll keep an eye on the changelogs!

[2020-11-18 18:58] bby-bishopclark commented on #10645
that's great news!  I can't use 15+, but I'm glad it'll be fixed somewhere.

[2020-11-18 20:39] jaymzh opened #10657 "windows_user resource always updates password"
## Description

Kinda related to #10455 it turns out that the `windows_user` resource doesn't seem to be able to set (or perhaps check) the password. No matter what you set it to, it tries to reset it everytime (and the password doesn't work, so I'm pretty sure it's failing to set it).

## Chef Version
15.9.17

## Platform Version
Windows 10

## Replication Case
[code]

[2020-11-18 20:40] jaymzh commented on #10657
CC @mwrock and @phiggins who probably can dig into this

[2020-11-19 06:17] #10645 closed

[2020-11-19 07:55] jaymzh commented on #10645
@bby-bishopclark you can use cinc if the licensing is an issue. Same code.

[2020-11-19 12:10] kapilchouhan99 commented on #5944
Hi @carguel could you please check it on latest version?
If you are still facing the same issue, please provide us steps to reproduce this issue and trace output.
Thank you!!!

[2020-11-19 14:30] chef-davin opened #10658 "chef_client_config fails when setting log location to 'STDOUT' on Windows 2016/2019"
## Description

When trying to use the new `chef_client_config` resource from the latest version of chef-client, I found that using the `log_location` property, set to `'STDOUT'` causes the client to throw a `class or module required` error.

## Chef Version

16.6.14

## Platform Version

## Replication Case

On a Windows system (I've replicated this on 2016 and 2019 only so far):
1. create a test

[2020-11-19 15:37] bby-bishopclark commented on #10645
Yep.  As mentioned elsewhere, that's the plan once they figure out yum repos and if they don't have the same trapdoor.  Thanks for the suggestion, though.

[2020-11-19 16:00] tas50 commented on #5944
@kapilchouhan99 This might be helpful: https://www.reddit.com/r/chef_opscode/comments/jvbzvp/windows_including_custom_certs_in_chefs_embedded/

[2020-11-19 17:15] kimbernator commented on #5944
@tas50 I appreciate you putting some momentum into this! Would definitely be helpful to have this fixed.

[2020-11-19 17:22] jaymzh commented on #10645
Huh? It doesn't require accepting EULAs, if that's what you mean by "trap door"... been using it for over a year now.

[2020-11-19 17:30] bby-bishopclark commented on #10645
We're getting off-topic, but that's great news if Cinc avoids the trapdoor.  Now, if they can look back in time and recover the lost art of yum repos, it'll achieve minimal viability.

[2020-11-19 18:31] phiggins commented on #10658
@chef-davin I think this is the same issue fixed here: #10608

[2020-11-19 19:06] chef-davin commented on #10658
@phiggins it totally is.  I just didn't search for already closed/merged issues/pull requests.  thanks for pointing that out. I'll close the incident.

[2020-11-19 19:06] #10658 closed

[2020-11-19 19:31] phiggins commented on #10658
No worries, happy to help :)

[2020-11-19 19:59] tas50 commented on #10611
The root cause of this problem is actually that node['ipaddress'] is not being populated by Ohai and we need to dig into that, which should be handled in the ohai project. I'll move this over.

[2020-11-19 20:01] tas50 commented on #10497
I think it would potentially be really helpful to have some sort of per resource timing exposed by a flag in chef-client.  chef-client --benchmark would give you additional benchmark logging.

[2020-11-19 20:02] tas50 commented on #10514
We actually have to keep this one since you can still have sys-v even under systemd.

[2020-11-19 20:02] #10514 closed

[2020-11-19 20:08] tas50 opened #10660 "Create a way of documentation actions in resources"
We previously added a description method inside of actions, which we had hoped could be used to automation the documentation of resources. Due to how resources and providers work these methods are not available to use in the resource inspector. We need a way to document the action descriptions within the resource.

Proposal:

Extend the previous `actions`  method to allow accepting a hash instead

[2020-11-19 21:41] mcascone commented on #10655
@mwrock , i just noticed in another recipe of mine, that i was having a similar issue rooted in the TLS version.
The native `windows_package` resources were failing because of the TLS error. I had to add `[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12` to get `Install-Module` and `Install-PackageProvider` in a `powershell_script` resource to be able to install thes

[2020-11-19 22:00] mwrock commented on #10655
Hmm. No it will not. But for modules, you can use `powershell_package` which will ensure TLS level.

[2020-11-19 23:01] tas50 opened #10661 "Documentation Automation"
As an operator,
I want accurate resource documentation on docs.chef.io,
So that I can utilize new resources in Infra Client releases with confidence

### Work to be done

Currently, we have partial automation around the generation of resource documentation on docs.chef.io. This automation is generated via extensions to the resource DSL, a rake task that converts the DSL to yaml files, and manual s

[2020-11-19 23:22] #7861 closed

[2020-11-19 23:37] mwrock commented on #9394
closed by #10545

[2020-11-19 23:37] #9394 closed

[2020-11-19 23:40] mwrock commented on #8486
closed by #10574

[2020-11-19 23:40] #8486 closed

[2020-11-19 23:52] tas50 commented on #7596
Closing out as dupe of #10660, which has this issue better described

[2020-11-19 23:52] #7596 closed

[2020-11-20 00:01] tas50 opened #10662 "Commit directly to the homebrew-chef repo when chef is promoted"
Right now we create a PR when chef is promoted. This requires a developer to notice the PR and then to merge the PR. This has been working for some time and we should convert the logic to just commit directly to the repository instead of creating the PR. That way it just happens and we don't have to worry about it.

[2020-11-20 00:04] tas50 opened #10663 "Automate all package promotion for Chef Infra Client"
As an operator,
I want to be able to consume the latest chef infra client packages via my preferred package manager,
so I can use the latest versions everywhere

### Work to be done

Docker, habitat, and omnibus are fully automated within our pipeline at this point.  homebrew updates are partially automated with a PR being generated to the homebrew-chef repo when a new version of chef is released.

[2020-11-20 01:38] mwrock opened #10664 "Support Installing chef on non-C drive"
We have hard coded `c:\` as the root install location in a few spots which can cause problems if a user installs chef on a drive other than C. Many enterprises do not want to install software on C and we should make this a supported and bug free scenario.

[2020-11-20 01:46] mwrock opened #10665 "utilize powershell_exec in dsc_resource"
`dsc_resource` uses the `cmdlet` class to delegate all powershell commands which in turn shells out to `powershell.exe.` The `cmdlet` class and its supporting classes should be refactored to use powershell_exec. This will involve some changes to the underlying powershell shim dll to perform the same verbose stream and json depth special handling.

[2020-11-20 02:02] mwrock opened #10666 "Allow client key to be retrieved from the windows certificate store"
## Background

This is the first portion of our larger effort to remove client.pem files from disk where possible.

In this initial implementation, we will add the ability to fetch client.pem content from the Windows Certificate Store as the default behavior with configuration values to specify specifics.

----

## Acceptance Criteria

- When running the `chef-client` CLI the client.pem will be fe

[2020-11-20 02:04] mwrock opened #10667 "migrate internal usages of powershell_script to use powershell_exec"
There are a few resources that create their own `powershell_script` resource to perform powershell operations. They should use `powershell_exec` instead.

[2020-11-20 02:08] mwrock opened #10668 "support winget package manager"
This spring (2020) Microsoft announces the new [Windows Package Manager](https://devblogs.microsoft.com/commandline/windows-package-manager-preview/). We should probably create a resource to support this.

[2020-11-20 02:23] mwrock opened #10669 "Investigate windows omnibus build and test performance"
It takes almost an hour to build an omnibus package and about 90 minutes to test which makes iterating omnibus adhoc testing really really really really really really really really really really really really really really really really slow.

[2020-11-20 03:17] mcascone commented on #8334
Same exact problem on Chef Workstation version: 20.9.136

[2020-11-20 03:24] tas50 opened #10670 "Modern package manager"
As an operator,
I want to use the latest package managers available,
so that I can install packages using Chef Infra Client

### Work to be Done

We need to update the package manager support in Chef Infra Client to support the latest and greatest package managers on platforms we support. On Ubuntu the snap package manager is becoming popular and on Windows Microsoft has released the Windows Packa

[2020-11-20 04:17] snehaldwivedi commented on #7621
@tas50 Could you please elaborate on the ticket details for my understanding.

[2020-11-20 04:43] tas50 commented on #7621
The resource property here is used to track state in the provider and needs to be refactored away: https://github.com/chef/chef/blob/master/lib/chef/resource/mount.rb#L57

[2020-11-20 19:39] #10310 closed

[2020-11-20 20:33] #8334 closed

[2020-11-22 23:15] breisig opened #10677 "AttributeError: 'Base' object has no attribute 'closeRpmDB'"
Tring to bootstrap a server using chef-client 16.6.14 (rpm 4.16, libdnf 0.55, dnf-4.4.2, modulemd 2.9.4) and getting the following error message when trying to install a package via dnf (dnf_package "net-tools")

[code]

[2020-11-23 17:00] bipinbachhao-lilly opened #10678 "knife ssh --no-host-key-verify, verify_host_key: false is deprecated, use :never"
## Description
knife ssh with --no-host-key-verify throws warning "verify_host_key: false is deprecated, use :never"

## Chef Version
Chef Workstation version: 20.9.136
Chef Infra Client version: 16.4.41
Chef InSpec version: 4.22.22
Chef CLI version: 3.0.27
Chef Habitat version: 1.6.56
Test Kitchen version: 2.6.0
Cookstyle version: 6.16.10

## Platform Version
MacOS Version - 10.15.7 (19H15)
Linux

[2020-11-23 22:49] mwrock opened #10681 "Extract Powershell shim binaries and Powershell/Pwsh classes to separate gem"
We currently build the powershell shim DLLs and pull them into the `distro` folder. Now that we support .Net Core, these DLLs consume quite a bit of space. Ideally, we would separate them into a separate gem that get's bundle installed only on Windows.

[2020-11-24 19:15] tas50 opened #10687 "Speed up build / test times"
As a developer,
I want fast build / test times,
so that I spend less time waiting for code to build and more time coding

The time it takes to build / test a Chef Infra Client release is incredibly high considering the relatively small amount of the code that changes between builds. This has a large impact on the velocity of the team as many times you need to make a small change and see it through

[2020-11-24 20:03] tas50 commented on #9860
All fixed now

[2020-11-25 00:03] timbourne commented on #9711
It looks like the New-NetFirewallRule supports arrays for remote_address like this:

New-NetFirewallRule -DisplayName "MyRule" -Protocol TCP -LocalPort 1434 -RemoteAddress @("10.17.3.101","172.7.7.53")

Can the windows_firewall_rule resource be updated to use that method?

[2020-11-25 04:10] #10635 closed

[2020-11-25 19:42] tas50 opened #10693 "Update contents of vscode-chef upon Chef Infra Client release"
As an operator,
I want the latest snippets available in my text editor,
So that I can use new functionality from Chef Infra Client in my cookbooks

### Work to be Completed

We need to make sure that each Chef Infra Client release triggers the latest content getting added to the vscode plugin. Some of the content is auto generated and we could subscribe to releases to trigger updating that content

[2020-11-25 19:44] evandam opened #10694 "Allow specifying FQDN in hostname resource"
### Describe the Enhancement:

The `hostname` resource seems to update `/etc/hosts` and drop the `hostname` property as the first record, so `hostname --fqdn` will always return that. It would be useful to have a separate `fqdn` property that would be set first.

Example:

[code]

Will result in an `/etc/hosts` like the following:

[code]

[code]

### Describe the Need:

Something like an `fqdn` p

[2020-11-25 20:54] phiggins commented on #10694
Hi, I believe the `hostname` property is what you're looking for: https://docs.chef.io/resources/hostname/#properties

If I run your first example in an ubuntu vm I see the behavior you're describing. If afterwards I change it to look like this, I get what I believe is your desired behavior:

[code]

Here's my session where I try this:

[code]

[2020-11-25 22:13] evandam commented on #10694
Thanks @phiggins, but I think it's a little different. Setting `hostname` will update the FQDN, but it will still match the hostname.

The goal is to have something that results in the following:

[code]

[2020-11-25 22:52] tas50 opened #10695 "Investigate slow systemd unit test times on Windows"
Yes we test systemd on windows. Yes that's kinda weird. It should still pass and be fairly performant. We're probably not properly mocking something here, but these are our slowest tests on Windows. We could potentially save ~4 minutes of test here.

[code]

[2020-11-25 22:55] tas50 commented on #10695
For comparison on my mac every systemd test runs quite fast:

[code]

[2020-11-25 23:39] tas50 opened #10696 "Determine if we can speed up the 25 minute windows certificate tests"
By far the worst offender in our Windows tests is the windows_certificate testing we perform. The tests in spec/functional/resource/windows_certificate_spec.rb take ~25 minutes to run in CI. Anything we can do there would be a huge win for the overall test times.

[2020-11-27 00:02] #8117 closed

[2020-11-27 00:02] tas50 commented on #8117
This doesn't appear to work entirely

[2020-11-27 09:57] omerdemirok opened #10698 "chef-utils required ruby version constraint `>= 2.6.0` conflicts with InSpec cloud resource packs"
Ruby version **2.5** is still supported by the InSpec cloud resource packs.

`chef-utils` requires ruby **2.6.0** minimum, and this conflict breaks the CI tests.
https://github.com/chef/chef/blob/59959ba8678d5fbfc8e612c3b994e8b799c393f3/chef-utils/chef-utils.gemspec#L16

https://buildkite.com/chef-oss/inspec-inspec-azure-master-verify/builds/505#f7e89f79-a91e-4523-8ba5-56a78dd6e6d6

[code]

Could

[2020-11-27 18:01] tas50 commented on #10698
Chef Infra has a N-1 support cycle with Ruby so we currently support Ruby 2.6 and 2.7. It was pointed out that we weren't properly setting the ruby version required in chef-config and chef-utils so we added that for the 16.7 release. Previous releases didn't fully work on Ruby < 2.6 either as made calls in several places that requires 2.6. The InSpec project has chosen to support older releases of

[2020-11-27 18:01] #10698 closed

[2020-11-30 04:43] vsingh-msys commented on #10565
The issue somehow related to https://github.com/pry/pry/issues/2139

[2020-12-01 14:16] timorkal commented on #10026
Hi @tas50 please look at this https://github.com/swipely/docker-api/issues/559 it looks like there is an official fix that the chef-client should work with.

[2020-12-01 15:22] vsingh-msys commented on #10565
@tas50 & @lamont-granquist, As per my investigation seems the regression due to pry version 13.1 updated in inspec https://github.com/inspec/inspec/pull/4992, it already reported at pry/pry#2139.

**Is it feasible to set the HOME path? if missing by fetching it using `Etc.getpwuid(Process.uid).dir`?**

I have tried to track down the `File.expand_path` here https://github.com/pry/pry/pull/2165. But

[2020-12-01 20:57] #10665 closed

[2020-12-02 16:17] #5944 closed

[2020-12-02 18:58] tas50 commented on #10694
@evan2645 This seems like a legit need. It's a bit different than just setting the hostname.

[2020-12-03 00:31] evandam opened #10705 "uninitialized constant Chef::Knife::UI::TTY"
## Description

Hi folks,

We're seeing an issue when trying to run `knife ssh` when using `-P/--ssh-password` using both Chef Workstation 20.10.168 and 20.11.180:

@tas50 any thoughts?

[code]

`knife ssh` works without passing `-P`, though.

Last working version of Chef Workstation:

[code]

## Chef Version

[code]

## Platform Version

macOS Catalina 10.15.7

[2020-12-03 00:31] scalp42 commented on #10705
Same issue with:

[code]

[2020-12-03 01:00] tas50 commented on #10026
We don't directly bundle the docker-api in chef itself and the docker cookbook has been updated to use the 2.x release. We only ever bundled our own released with chef-workstation, which prevented those errors from being shown when you ran kitchen dokken there.

[2020-12-03 01:13] tas50 commented on #10705
Fixed on master. Thanks for the report @scalp42 @evandam

[2020-12-03 01:13] #10705 closed

[2020-12-03 18:33] #9986 closed

[2020-12-03 19:17] tas50 opened #10707 "Chef 17: Remove CentOS 6 32bit builds"
CentOS 6 is EOL. Remove the 32 bit packages from Chef 17

Remove the EL 6 i686 build from here:

https://github.com/chef/chef/blob/master/.expeditor/release.omnibus.yml

Run the branch through ad-hoc build here: https://buildkite.com/chef/chef-chef-master-omnibus-adhoc/

[2020-12-03 19:26] tas50 commented on #3924
Closing this out since all we have left at this point is the multiple versions part

[2020-12-03 19:26] #3924 closed

[2020-12-04 02:54] #10618 closed

[2020-12-04 13:40] snehaldwivedi commented on #7621
@tas50 I have done some analysis as per it if we removed chef/resource/mount.rb#L57 then some of the methods will break like https://github.com/chef/chef/blob/master/lib/chef/provider/mount.rb#L39
All of these are dependent on mounted property. So maybe we can add a system-level check if the device is mounted or not or if you have any other suggestions?

[2020-12-06 08:42] timorkal commented on #10026
Ok, so please can you explain who is responsible for taking out these errors/warnings during the chef-client run?

[2020-12-07 18:24] AnamikaN opened #10712 "cron_d resource is not adding job under crontab -l using chef"
i have created this cron resource in my recipe. It is creating file 'log-deletion' in /etc/cron.d. But when i ran crontab -l to see list of cron jobs. I dont see my cron job. What am i missing?

cron_d 'log-deletion' do
    minute '30'
    hour '00'
    user 'root'
    command '/usr/bin/find /var/log/kafka -mtime +365 -exec rm {} \;'
    action :create
end

[root@server1]# crontab -l
0 0 */3 * * /

[2020-12-07 18:26] lamont-granquist commented on #6099
yeah this just hasn't been an issue, lets open it again if someone ever has issues with it.

[2020-12-07 18:26] #6099 closed

[2020-12-07 18:48] lamont-granquist opened #10713 "Unified Mode on by default for Custom Resources (in Chef-18)"
This needs to be done in phases.

For Chef 17 we need to get more aggressive about cookbooks needing to declare unifed_mode one way or the other.  Since we have so much Chef-12 concerns and sous-chefs have still never EOL'd Chef 12, that means we need to support Chef 12, that means we must have a cop that enforces at least:

[code]

Which is terrible, but without hard dropping Chef-12 support we c

[2020-12-07 19:16] tas50 commented on #10712
@AnamikaN Can you give more details on the version of Chef Infra Client you're running and the platform you're running it on?

[2020-12-07 21:54] AnamikaN commented on #10712
@tas50 Thank you for your response. But i think, i am good. cron_d resource create cron file under /etc/cron.d and when i checked the logs, i can see that my job ran.

Dec  7 00:01:01 server1 run-parts(/etc/cron.hourly)[23507]: finished 0anacron
Dec  7 00:10:01 server1 CROND[24983]: (root) CMD (/usr/lib64/sa/sa1 1 1)
Dec  7 00:20:01 server1 CROND[26680]: (root) CMD (/usr/lib64/sa/sa1 1 1)
**Dec  7

[2020-12-07 22:40] #10712 closed

[2020-12-07 22:41] tas50 commented on #10712
Thanks for the heads up @AnamikaN

[2020-12-07 23:55] tas50 opened #10715 "Add test for `knife bootstrap --forward-agent`"
We need to make sure that we test setting up train connection with the :forward_agent option. This is the chef side of resolving the issue brought up in this PR:

https://github.com/inspec/train/pull/649

[2020-12-09 03:15] #10695 closed

[2020-12-09 15:42] #10678 closed

[2020-12-09 15:44] #9355 closed

[2020-12-09 17:59] lamont-granquist commented on #10616
Yeah so the ultimate root cause of this is that shell_out on solaris when called without splat-args passed the string to the shell which is the very stupid old shell on bourne shell on solaris which doesn't do ENV['PWD'], while the ENV['PWD'] from the parent process is preserved (presumably we're running the buildkite tests under a halfway modern bash).  I can simulate the failure on Mac (and prob

[2020-12-09 20:47] jasonwbarnett opened #10722 "rhsm_subscription doesn't clear cache leading to yum_package failures"
## Description

When you attach to a new subscription using the `rhsm_subscription` resource and then the `package` resource to install something sourced from that subscription it fails.

## Chef Version

v15.3.8

## Platform Version

Red Hat Enterprise Linux 7.8

## Replication Case

[code]

I wish I could give a publicly available example but my use case is a private RPM in our internal Red Hat

[2020-12-09 20:48] jasonwbarnett commented on #10722
I would expect this resource to call `PythonHelper.instance.reset` when it's updated. Does that even make sense?

[2020-12-10 00:01] #10616 closed

[2020-12-11 03:52] axelrtgs opened #10729 "Chef 16.8.9 release has a bug: undefined local variable or methods"
https://github.com/chef/chef/blob/e44bfc1507ae9a6126b9510b57318ffbfb684e40/lib/chef/compliance/runner.rb#L221

the referenced function does not exist so when you don't explicitly set the chef server url in the audit attributes you get the following error
[code]

if you add the node attribute it still fails because this function is also missing on the line below: `construct_url`
[code]

example of

[2020-12-11 21:10] #10729 closed

[2020-12-12 01:41] phiggins opened #10736 "Update links to audit cookbook's troubleshooting doc"
Once chef/chef-web-docs#2781 is merged, the links pointing to audit cookbook's troubleshooting page should be updated to point at the Compliance Phase documentation.

[2020-12-12 14:00] janskarvall opened #10737 "locale resource times out after 600 s"
## Description

Cooking a node with a recipe that includes:
<pre>
locale 'set locale' do
    lang "en_US.UTF-8"
end
</pre>
fails before completed.

I'm lacking a way to extend the timeout value.

## Chef Version

Chef Infra Client, version 16.6.14
## Platform Version

Ubuntu 20.04 LTS
## Replication Case

This is too hard to replicate. I am cooking the same node as the Chef Workstation runs on usi

[2020-12-14 18:53] tas50 commented on #10737
We should be able to just kick up the timeout in the shell_out call in this method. I've tagged this for our sustaining engineering team so it can be updated. Thanks for the issue @janskarvall

[2020-12-15 13:40] jasonwbarnett commented on #10722
@tas50 are you IS with the proposed solution? If not, can you give me some general guidance so I can work on a bugfix for this?

[2020-12-16 00:40] tas50 opened #10742 "chef 17: Remove habitat x86_64-linux-kernel2 builds"
RHEL 6 is EOL so we should no longer produce packages for RHEL 6.

[2020-12-16 00:55] #10737 closed

[2020-12-16 03:00] jaymzh opened #10747 "chef-shell breaks when run in a shell from `sudo`"
## Description

Chef-shell doesn't work in standalone mode

## Chef Version
16.7.61

## Platform Version
Ubuntu 18.04

## Replication Case
`chef-shell -a`

## Client Output

[code]

[2020-12-16 03:02] jaymzh opened #10748 "chef-shell doesn't read client.d/*"
## Description

chef-shell doesn't read client.d/*

## Chef Version
16.7.61

## Platform Version
Ubuntu 18.04

## Replication Case

put `raise 'this is a test'` in `/etc/chef/client.d/test.rb`
then run `chef-shell -z`

which it not die on that.

[2020-12-16 03:46] jaymzh commented on #10747
More fun...
I can repro this with `sudo su -`, `sudo -s`, `sudo -i`.
@lamont-granquist on the other hand can't, both on Ubuntu 18.04.
And I tried taking his exact `/etc/sudoers`, but still no go.

[2020-12-16 10:20] skkprogress opened #10749 "sample"
to be deleted

[2020-12-16 10:20] #10749 closed

[2020-12-16 17:31] ramereth commented on #10747
@jaymzh just to be sure, does this also happen with Chef? I see you're using Cinc there..

[2020-12-16 17:57] jaymzh commented on #10747
@ramereth it's cinc, but it's the wrapper, not the build. Filed https://gitlab.com/cinc-project/distribution/client/-/issues/30

tl;dr for people who stumble into this - until the above is fixed call `cinc-shell` directly when using cinc.

[2020-12-16 17:57] #10747 closed

[2020-12-16 19:09] tas50 opened #10750 "Chef 17: Begin warning if unified mode config is missing in custom resources"
This is part of our longterm goal of getting everyone onto unified mode in custom resources. We need to make sure that people are setting it either true or false within the resources. We should begin warning that the config is missing in Chef 17 similar to what we did with use_inline_resources in Chef 12.

[2020-12-17 08:03] dheerajd-msys opened #10752 "ZD : powershell_script resource not honoring parameters while using Job-Start for background process"
## Description

As customer is describing the issue :

I am using a simple code below to run a powershell script that takes 2 parameters as a background job.
powershell_script 'test_install' do
code "Start-Job -ScriptBlock {#{script_dir}\test.ps1 $args} -ArgumentList 'one', 'two'"
end

The above code runs without any errors but is not passing the parameters to the script. However If I run the same

[2020-12-17 09:33] vsingh-msys commented on #10565
The issue got fixed with the latest version of inspec, have tested it with chef 16.8.14, it seems working fine.

[code]

[2020-12-17 18:59] tas50 opened #10753 "Unified Mode for Recipes"
Provide the ability to enable unified mode for recipes with a config in client.rb to enable this.

[2020-12-18 00:40] #10565 closed

[2020-12-18 18:00] phiggins commented on #10306
Hi, I merged #10751 to attempt to fix this, and at the very least provide more information in the case of failure. If this is still an issue, please reopen this with more details about your certificates. Thanks.

[2020-12-18 18:00] #10306 closed

[2020-12-19 01:09] evandam opened #10763 "Knife SSH error using sudo and targeting multiple hosts"
## Description

After upgrading Chef Workstation from `20.9.148` to the latest (`20.12.206`) I'm seeing issues with `knife ssh`.

When running a command with `sudo` via `knife ssh` targeting multiple hosts, I get the following error:

<details>
<summary>Logs</summary>

[code]

</details>

## Chef Version

[code]

## Platform Version

[code]

## Replication Case

The issue only seems to happen when

[2020-12-19 02:17] detjensrobert opened #10764 "Chef 16 mount resource strips trailing `/` from network mounts"
## Description
Since #10614, the mount resource trims the trailing slash off of the source device path. This breaks network mounts, where `$IP:/` becomes `$IP:` and is no longer valid.

### Versions
[code]

### Replication Case
[code]

`127.0.0.1:/` gets `chomp`'d to `127.0.0.1:`, now missing the source path on the remote server.

### Client Output
[code]

### Stacktrace
n/a

[2020-12-19 11:30] axl89 opened #10766 "cron_d resource ignores sensitive property"
## Description
`cron_d` resource ignores the `sensitive` property, potentially leaking sensitive data to Chef client's STDOUT.

## Chef Version

- 17.0.2
- 16.8.3
- 15.13.8
- 14.15.6

## Platform Version

Ubuntu 20.04.1 LTS

## Replication Case

Create a `cron_d` resource as follows:

[code]

## Client Output

[code]

## Stacktrace

N/A

[2020-12-20 12:26] Xorima commented on #10696
Hey @tas50

how do I get these tests to run locally so I can look into fixing this stuff?

Thanks

[2020-12-20 22:00] #10766 closed

[2020-12-20 22:00] tas50 commented on #10766
Closing this out with the PRs merged. Thanks @axl89

[2020-12-22 15:35] danielcbright opened #10774 "knife status NoMethodError: undefined method `first' for nil:NilClass"
## Description
When running `knife status  "name:*node*" -F json` the expected result is to show the status of the node searched for, instead there is an error given.

## Chef Version
Chef Infra Client `14.13.11`
Chef Workstation Version `latest stable`

## Platform Version
Any Flavor Linux/Windows EC2 Instance

## Replication Case
Run the `knife status "name:*node*"` command against any EC2 insta

[2020-12-22 22:14] savvyspoon commented on #9987
I'm having this same issue. I got farther by enabling root on the far box and allowing it to ssh in but now i've run into other issues.

[2020-12-23 00:49] #10620 closed

[2020-12-23 01:33] joshuamiller01 opened #10775 "load_current_resource for systemd service could be more efficient"
### Describe the Enhancement:
Establishing the status of a systemd service (per `load_current_resource`) currently shells out to `systemctl` four times; this could be refactored to perform a single shellout for speed and CPU wins.  In my crude experimentation, a single `systemctl` call costs ~20ms; a single typical service resource has two actions ([:start, :enable]), each of which triggers the fo

[2020-12-23 14:47] Platinumt3chnology opened #10777 "Issue: 💪"
### Core Chef Resource Checklist

Before suggesting a resource for inclusion please make sure your suggestion meets these criteria for resources built into Chef:
 - [x] Automates an operating system component that ships by default on systems such as authentication, raid, disk partitions, firewalls, containers, or virtualization systems.
 - [x] Does not attempt automate 3rd party applications such

[2020-12-23 14:47] Platinumt3chnology commented on #10777
#

[2020-12-28 15:42] amcappelli commented on #10774
I was able to reproduce this with version 16.8.14 of chef-client as well

[2020-12-28 19:13] #10777 closed

[2020-12-28 21:37] phiggins commented on #10774
Fixed in #10781.

[2020-12-28 21:37] #10774 closed

[2020-12-29 04:01] #9763 closed

[2020-12-29 17:53] jblaine commented on #10108
Confirming same failure. Nothing interesting shows in the `-l trace` output though. The basics from abrt are below. @lamont-granquist What specifically should I be looking for in the output of `-l trace` when this is happening.

[code]

[2020-12-29 19:47] #10707 closed

[2020-12-29 20:13] tas50 opened #10792 "Setup CI to fail hard with Ruby deprecations"
Ruby 3 expands how deprecations work in a way that could potentially be very useful for us. Traditionally we've shipped Chef with code that produces deprecation warnings and then customers see these and panic. We really want to resolve them before any end-user ever sees the warnings. We can do this in CI by defining our own deprecation method and forcing it to raise.

https://rubyreferences.github

[2020-12-29 20:17] tas50 opened #10795 "Evaluate all uses of Dir.glob to see if we want to turn off sorting in Ruby 3"
Ruby 3.0 sorts Dir.glob by default now, which is handy but also slows down execution. We should look at all the places we use Dir.glob and determine if we care if the results are sorted or not:

https://rubyreferences.github.io/rubychanges/3.0.html#dirglob-and-dir-result-sorting

[2020-12-30 02:23] #10696 closed

[2020-12-30 23:01] tas50 opened #10800 "Update uuidtools to 2.2.0"
We currently pin uuidtools to ~>2.1.5

They did a release this year (first in 6 years) that we probably want to pull in:

[code]

[2020-12-30 23:03] tas50 commented on #10722
@lamont-granquist should probably chime in on how to reload the cache there.

[2020-12-31 20:56] jaymzh commented on #10454
Oh I hadn't seen this. Thanks!

[2020-12-31 22:04] #9005 closed

[2021-01-04 04:31] tas50 opened #10814 "Update nokogiri to 1.11.0"
https://github.com/sparklemotion/nokogiri/releases/tag/v1.11.0

Resolves a CVE:
https://github.com/sparklemotion/nokogiri/security/advisories/GHSA-vr8q-g5c7-m54m

[2021-01-04 19:01] lamont-granquist commented on #7621
This is probably not the right way to fix this now.

What should happen now is that either load_after_resource should be written or load_current_resource should be converted to load_current_value so that the mounted property was correctly being populated as reporting state both before and after the resource runs.

[2021-01-04 20:14] tas50 opened #10817 "rspec 3.10 breaks unit tests"
[code]

[2021-01-05 04:42] #10814 closed

[2021-01-05 04:52] tas50 commented on #7621
Based on the convo in our issue triage, I think we should hold off on this one until we figure out exactly how to structure these resources for proper reporting.

[2021-01-05 04:52] #7621 closed

[2021-01-05 04:54] tas50 commented on #4754
@lamont-granquist would it make sense to have a default for the run lock timeout so that we don't end up with 100 waiting chef-client processes?

[2021-01-05 05:12] #10240 closed

[2021-01-05 05:13] tas50 commented on #10240
Closing this out while we figure out what actual state needs to be. We have warnings in code in a lot of these cases so the chances that someone copies these are minimal.

[2021-01-05 08:49] ibcomputing opened #10833 "archive_file resource can't handle ZIP64"
# Describe the problem
Zip files over 4GB in size are compressed using ZIP64. See https://en.wikipedia.org/wiki/ZIP_(file_format)#:~:text=The%20maximum%20size%20for%20both,1%20byte)%20for%20standard%20ZIP
archive_file reports "Damaged Zip archive" when trying to expand these files.
Looks like archive_file does not support ZIP64 whereas the windows_zipfile resource expands these files no problem.

[2021-01-05 17:45] #9618 closed

[2021-01-05 17:46] tas50 commented on #9618
@wildcrazyman  This will ship in 16.9 this week

[2021-01-06 01:09] #10775 closed

[2021-01-06 12:14] snehaldwivedi commented on #10817
@tas50 I have tried running RSpec on ubuntu and on windows with the latest code with `rspec (3.10.0)` but I am not getting the above failures. Everything is working fine for me.

[code]
Please let me know if I am missing something?

[2021-01-06 19:02] JohnnyBopper opened #10848 "PowerShell Script Timing Out, Leading to Orphaned Processes"
## Description
This issue has happened twice in the past month on 2 different servers. Both of the servers are Citrix infrastructure servers.
I have a recipe that fixes all of the unquoted service paths. It uses the powershell_script resource with the not_if guard.

Running the guard portion of the script manually on the server runs fine and returns "true" like I would expect.
We have our Chef cli

[2021-01-06 22:58] tas50 commented on #10817
Here's a PR updating inspec/rspec where you can see the rspec-mocks failure: https://buildkite.com/chef-oss/chef-chef-master-verify/builds/7556#9b401be3-242c-46f0-ba43-617cfe72a8c0/90-1023

[2021-01-07 14:34] JohnnyBopper commented on #10848
I'm currently seeing 7 other servers doing the same thing. All of them are 2012 R2 servers.

[2021-01-07 17:47] #9075 closed

[2021-01-07 17:47] #10667 closed

[2021-01-08 15:29] chef-davin opened #10851 "Multiline LegalNoticeText in Windows causes warnings in compliance phase"
## Description

When using a multiline text in the registry key `HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Policies\System\LegalNoticeText` (meaning we have newline characters in the string value of the registry key", It causes a large set of warnings to appear during the compliance phase of the chef-client run. It might affect the audit cookbook as well, but I haven't tested wi

[2021-01-08 19:48] indygwyn commented on #10763
Also seeing this same issue when doing a `knife ssh 'chef_environment:blah' 'sudo uptime'`
Works without the sudo, with the sudo it will fail with `ERROR: ArgumentError: ArgumentError`

It's significantly affecting my day job team (which has an Unlimited node license, btw)

[2021-01-09 10:41] axos88 opened #10858 "Chef client not saving host key data when verify method is accept_new"
https://github.com/chef/chef/blob/master/lib/chef/knife/bootstrap.rb#L626

This does not happen because ssh is invoked with ssh_host_key /dev/null:

[code]

[2021-01-11 18:27] tas50 commented on #10848
@JohnnyBopper We did a refactor of how `powershell_script` works so that it no longer actually shells out. Can you try this out on the latest release of Chef Infra Client. It should be resolved with that.

[2021-01-11 18:34] tas50 commented on #10833
We're going to need to look into our upstream usage of libarchive for this issue. There are some historical issues there where users had issues with zip64 detection. It may be that you need to manually pass the option in this resource to turn on zip64 support, but I'll see if I can get the next step for you there.

[2021-01-12 15:22] sspans opened #10862 "New compliance fetcher breaks on automate usernames containing @ chars"
Automate usernames can be email addresses - and contain '@' characters. The new automate fetcher uses uri.host parsing for automate usernames which breaks on legitimate account names.

https://github.com/chef/chef/blob/474bea9632c6863aa05bc3689f8d4d8d54e72c13/lib/chef/compliance/fetcher/automate.rb#L35

Sample automate server logging from a client running Chef 16.7.61:
[code]

Sample automate serv

[2021-01-12 18:49] coldiron commented on #10795
Hello,

Could I work on this, please?

[2021-01-12 19:24] tas50 commented on #10795
@coldiron certainly. One of the big questions we had was could we use the Ruby 3.x syntax for disabling the sorting on Ruby 2.7 without causing errors.

[2021-01-12 19:36] coldiron commented on #10795
Great, thanks.

Just to be sure, I'll make and test the changes using 3.0 against the `expeditor/inspec-core-bin_4.24.28` branch, right?

Could we do something like `rescue ArgumentError` and call the old syntax, or is that a code smell?

[2021-01-12 19:43] coldiron commented on #10795
We could also do `Dir.method(:glob).parameters.include?([:key, :sort])`. I'm not aware of other avenues besides `rescue` or a conditional, though.

[2021-01-12 20:47] coldiron commented on #10795
@tas50

Ah!

https://github.com/apalmblad/ruby-shadow/issues/26

Looks like it's untestable. Here's my list of Dir.glob locations until testing is possible using 3.0.0:

<details>
<summary>Table</summary>

|Filename|Sorted|
|---:|---:|
|chef-universal-mingw32.gemspec|no|
|chef.gemspec|no|
|Gemfile|no|
|chef-bin.gemspec|no|
|chef-config.gemspec|no|
|chef-utils.gemspec|no|
|data_bag.rb:|
|    99|YES

[2021-01-12 21:55] tas50 commented on #10817
@snehaldwivedi Do we have an update on this issue?

[2021-01-13 06:52] snehaldwivedi commented on #10817
@tas50 I have replicated this issue by using `rspec 3.10.1`.  I need to check the parameters for this command by running it to stub this request properly. So I am studying about the stove to use share a cookbook on supermarket using this command.

[2021-01-13 16:08] NAshwini opened #10878 "Facing 'ffi_c' load error with latest chef 16"
## Description
While running Chef-client with any of the simple cookbook getting below error:
[code]
## Chef Version

16.9.20

## Platform Version

Windows

## Replication Case

Got error while running chef-client with an simple cookbook and this was also reproduce while installing azure-chef-extension.

## Client Output

[code]

## Stacktrace

[code]

[2021-01-13 17:03] coldiron commented on #10795
@tas50: so I've been thinking about this, and I've put together a quick benchmark:

https://gist.github.com/coldiron/3ee242d524425774887cb7e13893b22f

Run from the root directory of the Chef source. A couple of those lines traverse a good chunk of the Chef codebase, so they are probably fairly representative of what users might encounter.

1000 iterations of 8 `Dir.glob` calls:
[code]
So,

My opin

[2021-01-13 22:08] jcleavel commented on #10878
I am also having the same issue.

I tried bootstrapping a new node (via the Azure Chef VM Extension) with Chef Client versions `v16.9.20` and `v16.8.14` and received the same failure both times.

My nodes are running Windows Server Core 2019 `v10.0.17763` (Build 1809).

Running the following command fixes the problem for that node, but it is not something that I can insert into my automated node p

[2021-01-14 06:16] #10800 closed

[2021-01-14 08:43] darwinjames commented on #10878
Workaround: "bootstrap_version": "16.8.14". It works.

[2021-01-14 11:55] dheerajd-msys commented on #10763
Tried reproducing the issue with same on  `chef-workstation v21.1.222`  but getting below error
[code]
Not working for any of the scenario mentioned in **Replication case**.
And this not working even without using `sudo`.
Made an entry in my `/etc/hosts` and also configured `/etc/resolv.conf`  but still failing to connect to node through `knife ssh`
However manual ssh to those node working without

[2021-01-14 17:41] #10748 closed

[2021-01-14 18:14] kimbernator opened #10883 "Add backup functionality to windows_task resource"
### Describe the Enhancement:
Back up task configuration just like a file resource would on windows nodes when the task exists but is modified. This provides rollback functionality.

As far as I understand it, windows task data is stored in (I believe) XML within C:\Windows\system32\Tasks. This may be as simple as backing the file named after the task up to the chef backup dir.

### Describe the N

[2021-01-14 20:11] jcleavel commented on #10878
That was the first thing I tried @darwinjames. It didn't work for my particular infra configuration, unfortunately.

[2021-01-15 16:02] fuegas commented on #10763
@dheerajd-msys : I could not reproduce it when using `-P`, however, without `-P` I get the ArgumentError as well:
[code]

[2021-01-18 17:37] jakauppila commented on #4992
Just wanted to leave a note that I am still running into this on `16.9.17`

[2021-01-18 17:48] jaymzh commented on #10883
This seems like an obvious win to me, so if you have the time, please do submit a PR.

It would be extra awesome if it could use this to show what was changing in the way we do for other resources, something like:

[code]

[2021-01-18 19:33] liaden commented on #4992
I once uninstalled ruby from all our VMs by accident with this bug, and the only reason it didn't cause an outage was because we hadn't attempted to restart any processes yet.

I tried to have it unlink a symlink and then create a file in its place to do some magic. It didn't unlink, and then it overwrote the linked file.

[2021-01-18 21:55] kimbernator commented on #10883
I've opened https://github.com/chef/chef/pull/10894 to address this

[2021-01-19 18:02] #8347 closed

[2021-01-19 18:02] tas50 commented on #8347
We did this already

[2021-01-19 18:03] tas50 opened #10895 "Blacklisted attributes still show up in automate"
Customer escalation:
[code]

Aha! Link: https://chef.aha.io/features/INFRA-7

[2021-01-19 18:04] tas50 commented on #10895
I suspect that we're not properly preventing these attributes from showing up in the data we send within the data collector, but that will need to be confirmed.

[2021-01-19 19:57] lamont-granquist commented on #10895
Yeah the Block/Allow code in Chef::Node is tightly coupled to Chef::Node#save.  Chef::Node#to_hash+to_json probably need an option to filter the attributes (off by default) which #save can then call, then the DataCollector can just add that flag to get the filtered node object.

[2021-01-20 03:53] tas50 commented on #10878
We've identified a problem that is resulting in the newer version of FFI coming in, which we hope to have fixed tonight.

[2021-01-20 12:20] dheerajd-msys commented on #10763
@evandam @fuegas Could you please paste your `config.rb` details( Keys only mostly) because I see no errors as below :

[code]
**OUTPUTS**

[code]
It is working without `sudo` and with `sudo` in my case. Please let me know if there is anything missing.
**Only thing to noteworthy here is I am providing `ssh-user` in CLI** and when I remove `user` from CLI; I see below output and that seems taking m

[2021-01-20 17:42] evandam commented on #10763
@dheerajd-msys here's my `~/.chef/config.rb`. The only thing to note really is that I set `knife[:ssh_gateway]`:

[code]

[2021-01-20 18:06] haidangwa opened #10905 "compile_time property not found in yum_repository resource"
## Description

Chef Infra Client fails when the `compile_time` property is used with the `yum_repository` resource. This is [documented here](https://docs.chef.io/resources/yum_repository/#resources-common-properties) as a supported property.

## Chef Version

16.9.20

## Platform Version

RHEL8

## Replication Case

Use this resource declaration in a recipe:

[code]

## Client Output

[code]

##

[2021-01-20 21:38] chilcote opened #10906 "arm64 build to support apple silicon"
### Describe the Enhancement:
Currently there is no native support for apple silicon

### Describe the Need:
Rosetta seems to be working for the 16.x family, but rosetta is not a long term solution and has proven to have some edge cases.

### Current Alternative
Rosetta emulation for the x86_64 build of chef is the current workaround

### Can We Help You Implement This?:
Just looking for any annou

[2021-01-21 00:30] tas50 commented on #10906
@chilcote Our intent is to ship fully native M1 builds in the first half of 2021. There are quite a few blockers at the moment that prevent us from even compiling critical components like OpenSSL or FFI on the M1 architecture. We're monitoring upstream projects and patches in projects like homebrew to see when we'll be able to compile all the necessary components. Rosetta does work at the moment a

[2021-01-21 00:59] lamont-granquist commented on #10905
I can't replicate, the compile_time property is there on that resource for me, and that has been a property for all resources since 16.0.60.

All I can think of is that you're testing on Chef 15 or earlier, or that one of the characters like `_` has an encoding issue and isn't U+005F but one of the other variants.

[2021-01-21 01:17] tas50 opened #10911 "Chef::ChefFS::Parallelizer failures in test"
We see this sort of failure from time to time, which adds over an hour to the build/test cycle:

[code]

[2021-01-21 02:00] chilcote commented on #10906
@tas50 Thank you. We'd be happy to help test this in our environment.

@lamont-granquist if Enhancement requests are not appropriate, then you should take Enhancement Requests out of the issue creation template 😉

[2021-01-21 03:53] tas50 commented on #10878
This should be resolved in the 16.9.29 release. Feel free to file another issue if you're still seeing issues in that build.

[2021-01-21 03:53] #10878 closed

[2021-01-21 03:55] tas50 commented on #10833
It looks like libarchive does not include automatic detection of zip64 archive so unfortunately there isn't a way we can resolve this. If that longstanding issue in libarchive is resolved the fix would come into chef automatically, but that would involve someone from that project digging in.

[2021-01-21 03:55] #10833 closed

[2021-01-21 10:13] fuegas commented on #10763
@dheerajd-msys here's the information:
[code]

As we use a shared config our `knife.rb` is in the repo:
[code]

The SSH user used for connections comes from my `~/.ssh/config`:
[code]

The error we run into is _after_ a connection is made, we're logged in and get the question for the sudo password.

[2021-01-21 20:06] Blorpy opened #10918 "mount resource not idempotent for loopback mounts"
## Description

Since upgrading to chef client 16, from 15, the mount resource is no longer idempotent for loopback mounts. The resource tries to mount them every time, which causes converge to fail as the mount commands returns an error code indicating the mount already exists.

## Chef Version

16.9.29

## Platform Version

CentOS 7

## Replication Case

[code]

## Client Output

[code]

## Stac

[2021-01-21 20:20] Blorpy commented on #10918
[code]
Not sure how mounted? is returning false here for the resource in question...

[2021-01-21 20:22] Blorpy commented on #10918
I don't follow why mount would be set to false here when we have a match: https://github.com/chef/chef/blob/master/lib/chef/provider/mount/linux.rb#L50

[2021-01-22 12:39] sanga1794 commented on #5797
@NimishaS, for time being we are closing this issue. Add comment if any queries.

[2021-01-22 12:39] #5797 closed

[2021-01-22 17:56] joshuamiller01 opened #10921 "load_current_resource for systemd_unit could be more efficient"
### Describe the Enhancement:
Establishing the status of a systemd_unit resource (per load_current_resource) currently shells out to systemctl five times; this could be refactored to perform a single shellout for speed and CPU wins. In my crude experimentation, a single systemctl call costs ~20ms; a single typical systemd_unit resource has three actions ([:create, :start, :enable]), each of which

[2021-01-22 20:46] tas50 opened #10923 "chef-utils tests throw deprecation warnings"
The fauxhai data used by the chef-utils tests is currently marked for deprecation and that results in a large number of these warnings:

[code]

The specs using this old data need to be updated for a more recent version.

[2021-01-23 03:17] tas50 opened #10926 "Convert the powershell_package resource to use powershell_exec"
powershell_exec improves performance over the legacy powershell_out provider. Convert this resource to use the new helper

Here are the Chefstyle scan results showing where this helper is used:

[code]

[2021-01-23 03:18] tas50 opened #10927 "Convert windows_feature_powershell resource to use powershell_exec helper"
powershell_exec improves performance over the legacy powershell_out provider. Convert this resource to use the new helper

Here are the Chefstyle scan results showing where this helper is used:

[code]

[2021-01-25 18:18] lamont-granquist commented on #10921
merged

[2021-01-25 18:18] #10921 closed

[2021-01-25 18:21] lamont-granquist commented on #10883
merged

[2021-01-25 18:21] #10883 closed

[2021-01-26 20:40] aknarts opened #10938 "Add CLI output to the Compliance Phase"
### Describe the Enhancement:
In deprecated Audit phase the results of the audit were put at the end of the chef converge log
![Screenshot from 2021-01-26 21-37-35](https://user-images.githubusercontent.com/252905/105902313-c1b3bf00-601e-11eb-857c-079b4a154d1c.png)

This was removed and is now replaced by inspec and the Compliance Phase

### Describe the Need:
We want to be able to easily see the

[2021-01-26 23:06] tas50 commented on #10926
Make sure to remove the exception for this file in the chef .rubocop.yml file after updating this code

[2021-01-26 23:06] tas50 commented on #10927
Make sure to remove the exception for this file in the chef .rubocop.yml file after updating this code

[2021-01-27 00:51] #10181 closed

[2021-01-27 11:36] axos88 opened #10941 "apt_repository.run_action and execute don't mix well"
## Description

[code]

results in:
[code]

due to the `at_exit` call here: https://github.com/chef/chef/blob/2900361916aa884ad8d54e98228aa3406964e8a3/lib/chef/resource/apt_repository.rb#L259

The execute as other user forks, and when terminating seems to also want to delete that directory, but probably as the user specified, which does not have permission to do it.

## Chef Version

I'm using che

[2021-01-27 11:39] axos88 commented on #10941
Correction: it happens without the run action as well. Workaround use sudo in the command...

[2021-01-27 20:40] marcparadise commented on #4814
This is still occurring in  Chef 16+, but the error is slightly different because of the removed support for deprecated form of `knife user create`:

[code]

[2021-01-27 21:26] marcparadise opened #10948 "`knife user create` should work without requiring six positional arguments."
### Describe the Enhancement:
`knife user create username` should just work.  Additional fields currently required (first/last/display name, email address, password) are moved to optional via flags or interactive prompt, and `display_name` is defaulted to be the same as the given username if not provided.

To safely deprecate the old behavior, we could still require all six arguments when 2+ argum

[2021-01-27 21:51] trickyearlobe commented on #10862
@sspans , could you check and confirm if this is fixed in 16.9.20 and above?
I spoke to one of your colleagues today who believes that we fixed "one of your issues", but I'm not sure if it was this one.

[2021-01-27 22:03] tas50 commented on #10862
@trickyearlobe We fixed the code that used the compliance phase instead of the legacy audit cookbook. Anyone with the audit cookbook on their runlist should not be executing this compliance phase anymore, but the problem remains here and we'll need to fix it in the new codebase.

[2021-01-27 22:38] sspans commented on #10862
Profile downloads work for me with 16.9.29 and the audit cookbook.

The underlying issue indeed needs to be fixed or we will run into it again in the future.

Sent from my iPhone

[2021-01-28 01:50] epilatow opened #10950 "dnf package resource version comparison failures, part 2"
In PR #9847 I made [a comment](https://github.com/chef/chef/pull/9847/files#r540720136) where I pointed out that we're still calling the broken `versioncompare` function with identical strings (so things were working by accident). Well, today someone asked me with an dnf resource `:upgrade` failure that I believe is being caused by these broken version comparison calls with non-equal strings. The

[2021-01-28 17:02] epilatow commented on #10950
Looking at a chef run from a server, I also see we're still passing in EVRs and EVRAs into versioncompare, there by making it impossible know how to correctly parse the input (since we can't differentiate between the two). Here's a grep of log results removing EVRA to EVRA comparisons
[code]

[2021-02-01 23:21] tas50 commented on #10817
Fixed by @lamont-granquist in https://github.com/chef/chef/pull/10959

[2021-02-01 23:21] #10817 closed

[2021-02-02 01:49] #10905 closed

[2021-02-02 16:12] MrCyrus commented on #10108
I've the same issue on 400+ servers and I just upgraded to chef-client 16.9.32 on 1 server as a test to see if that helped, but it did not. On the 400+ servers, the error is occurring in /opt/chef/embedded/lib/ruby/gems/2.7.0/gems/chef-16.2.73/lib/chef/provider/package/yum/yum_helper.py at line 202 is:
    199         try:
    200             command = json.loads(line)
    201         except Value

[2021-02-02 16:37] MrCyrus opened #11411 "knife search node showing different results that knife node show"
## Description
The following 2 knife commands are returning different results but I'm expecting them to be returning identical results. Specifically I'm expecting the 'knife search' to show me the values for policy_group and policy_name yet they are blank even though the 'knife node show' is showing valid values for these 2

1) knife node show some.servers.fqdn.com -F json -a name -a run_list -a p

[2021-02-02 17:40] jfcantu opened #10964 "`knife bootstrap` on Windows always prepends drive letters to `file_cache_path`"
## Description
When running `knife bootstrap` on Windows, `knife` seems to always prepend a drive letter to the `file_cache_path` configuration option when it generates the `client.rb` for the remote node. *nix nodes do not like this.

## Chef Version
`knife` 16.9.20
`chef-client` 14.12.9

## Platform Version
`knife`: MS Windows 10 Professional
`chef-client`: CentOS 7

## Replication Case
Pretty s

[2021-02-03 06:43] r-goto0510 commented on #10367
Hi @vsingh-msys

The workaround above (https://github.com/chef/chef/issues/10367#issuecomment-700567676) does not work when bootstrapping a linux node from windows workstation.

config.rb:
[code]

Bootstrapped node's client.rb will have;
[code]

Could you advise us if any reliable workaround exists when using Windows workstation?

--
Tested workstation version;
[code]

[2021-02-03 11:57] snehaldwivedi commented on #3385
Hi @eitchugo,

I have tested the behavior as follows on the latest `Chef Infra Client: 16.9.32` and if we create a node with an existing node name it doesn't directly create the node but ask if you like to overwrite it or not.

[code]

[code]

Please let me know if your still facing the same issue?

[2021-02-03 22:42] epilatow commented on #10950
Fixed by #10951

[2021-02-03 22:42] #10950 closed

[2021-02-03 22:54] epilatow opened #10983 "dnf package resource version comparison failures, part 3"
As a follow up to #10950, I found another dnf faiulre for `:purge` and `:remove` package resources, also caused by a comparison between `current_version` and `new_version`.  Here's some chef debug output for an rpm which is failing to be removed:

[code]

It's worth pointing out that this package has its version and release information also embedded into its name. <Pause for cringing.> The removal

[2021-02-03 23:42] epilatow commented on #10983
The failure mode is that the package doesn't get removed.

[2021-02-04 04:48] snehaldwivedi commented on #3385
Closing this card for now please test it on the latest version and reopen the card if you still face the issue.

[2021-02-04 04:48] #3385 closed

[2021-02-04 08:32] snehaldwivedi commented on #2098
Hi @spiffytech I have tested this on `Chef Infra Client version: 16.6.14` and its raise user-friendly alert for the ownerships as follows:

[code]

[code]

Closing this ticket for now please test this on the latest version and reopen the ticket if you still face the issue.

[2021-02-04 08:32] #2098 closed

[2021-02-04 17:05] haidangwa opened #10985 "client.rb needs a way to provide secure credentials for rubygems_url"
### Describe the Enhancement:

When specifying the `rubygems_url` value, it seems that the only way to provide authentication credentials (e.g., to a private rubygems repo), is to embed the username and password in the URL, like `https://myuser:mypass@private.rubygems.repo`. This is not ideal, as the file could be read by anyone without changing the mode to `640` or stricter. For example, the `che

[2021-02-05 00:02] r-goto0510 commented on #10367
Also;
How does having file_cache_path "C:/var/chef/cache" in client.rb in linux machine would affect chef ops?

[2021-02-06 03:37] #10108 closed

[2021-02-08 13:15] dheerajd-msys commented on #10763
We've also used `knife[:ssh_gateway]` and other related details provided in your knife.rb but unable to reproduce the issue. Is there anything else which you want to share from your environment that might help reproducing the issue?

[2021-02-08 13:41] fuegas commented on #10763
@dheerajd-msys : I'm trying to reproduce the bug, but I'm getting rather inconsistent results:
[code]

First run worked for demo02, but broke on demo01 with `ArgumentError`.
Second and fourth run broke immediately on demo01 with `ArgumentError`.
Third run failed and did not even throw an error.
Fifth run succeeded....
Sixth and a few runs after that fail again with `ArgumentError`.

Do you have an

[2021-02-08 16:24] indygwyn commented on #10763
I've consistently never seen a `sudo anything` work since my Chef Workstation updated to 20ish

[code]

It's only a problem if there are multiple targets to the `knife ssh`, my workaround currently is to for loop them all as single targets which works but is not optimal.  It's via `-m xyz pdq` or with a `search query`

It's definitely something to do with the sudo because if I have a team mate wit

[2021-02-08 18:25] jaymzh commented on #6095
FYI for those here - there was still bugs in downgrades, fixed here: https://github.com/chef/chef/pull/10993

[2021-02-10 12:48] dheerajd-msys commented on #10763
@tas50 @lamont-granquist Could you please check comment above once and suggest what else can be done?

[2021-02-11 03:29] anupamsingh1985 opened #11005 "Inspec Profile applied via Compliance Phase runs twice ,fails the second time"
## Description

We have a POC repo that worked fine up until one of the recent versions of Chef Client 16.X, When running the audit cookbook in the recent versions of Chef Client, the compliance profiles run twice.The compliance profile is successful the first time and then fails the second time.

## Chef Version

Successfully working on  Chef Infra Client version - 16.1.0
Failed on  Chef Infra Cl

[2021-02-11 18:42] tas50 opened #11010 "Fix berkshelf for Ruby 3"
This is necessary for us to get to Ruby 3 since we test it in our pipeline.

[2021-02-11 18:44] tas50 opened #11011 "Update Appbundler for Ruby 3"
This is required for Ruby 3 in chef/chef

[2021-02-11 18:44] tas50 opened #11012 "Update ChefSpec for Ruby 3"
We test ChefSpec in our chef/chef pipeline and we need to ensure that it's tested and works on Ruby 3.0

[2021-02-11 18:44] tas50 opened #11013 "Update chef-zero / pedant for Ruby 3"
chef-zero ships in Infra Client and the chef/chef pipeline runs the pedant tests against chef-zero. We need to make sure this all works on Ruby 3 so we can update to Ruby 3 in chef/chef.

[2021-02-11 18:45] tas50 opened #11014 "Update Cheffish for Ruby 3"

[2021-02-11 18:46] tas50 opened #11015 "Fix knife-windows for Ruby 3"
We run knife-windows tests in the chef/chef pipeline and we need to make sure this project is tested and works with Ruby 3

[2021-02-11 18:55] tas50 opened #11016 "Update Chef to use Ruby 3.0 by default"
As part of our yearly release we need to update Chef and the dependencies for the new Ruby release and then bump the builds to use the new Ruby release.

[2021-02-11 18:57] tas50 opened #11017 "Add Ruby 3 to omnibus-software"
We need to add Ruby 3 to the ruby definition in omnibus-software and make sure any of our existing patches still apply to 3.0

[2021-02-11 19:01] tas50 opened #11018 "Add Ruby 3.0 testing to all our mixlibs and other deps"
We need to make sure that all the dependencies of chef/chef are fully tested for Ruby 3.0.

- [ ] chef-vault
- [x] ffi-libarchive
- [x] mixlib-archive
- [x] mixlib-shellout
- [ ] mixlib-authentication
- [ ] mixlib-cli
- [x] mixlib-log
- [x] train
- [ ] win32-certstore
- [ ] win32-eventlog
- [ ] win32-taskscheduler
- [ ] win32-service
- [x] chef-telemetry
- [x] license-acceptance

[2021-02-11 19:04] tas50 commented on #11011
Chef itself is packaged with appbundler in Omnibus so we need to make sure that it works with Ruby 3 and the latest changes to bundler/rubygems

[2021-02-11 19:14] tas50 opened #11019 "Split the knife gem out of the chef gem"
For Chef Infra Client 17 we have a great opportunity to slim down the size of the chef install while resolving some longstanding customer security concerns by splitting knife out of the chef gem.

## Why

chef the repo historically was everything chef including the server. It was pretty natural at to just gem install chef and manage nodes that way. A lot has changed since that time, especially wit

[2021-02-12 11:10] dheerajd-msys commented on #10491
On `chefv16.3.45` below is the output :
[code]
## Recipe

[code]

[2021-02-12 16:42] kimbernator opened #11030 "cron: property validation for "command" is broken"
## Description

Validation for the "command" property in cron resources throw errors in a number of contexts that should not be a problem. Originally, I thought it was an issue with chefspec so I opened https://github.com/chefspec/chefspec/issues/1004, though recently I've seen a number of errors where even the :create action is incorrectly bombing even when "command" is defined properly (see outp

[2021-02-12 19:15] #10938 closed

[2021-02-12 19:15] tas50 commented on #10938
Merged

[2021-02-12 22:18] #10862 closed

[2021-02-12 22:58] #10764 closed

[2021-02-12 23:16] lamont-granquist commented on #10497
resources already have elapsed time in them, this can be done by using the action collection to not waste more memory capturing every resource object:

https://github.com/chef/chef/blob/master/docs/dev/design_documents/action_collection.md

[2021-02-12 23:17] lamont-granquist commented on #10485
closing per discussion in #10487

[2021-02-12 23:17] #10485 closed

[2021-02-13 00:33] tas50 commented on #2756
Closing this out since RHEL is going full systemd and the need to fix this is considered low.

[2021-02-13 00:33] #2756 closed

[2021-02-13 00:36] tas50 commented on #3516
Closing out since this is handled in knife-opcs

[2021-02-13 00:36] #3516 closed

[2021-02-13 01:06] #10626 closed

[2021-02-13 01:06] tas50 commented on #10626
Done

[2021-02-13 01:07] tas50 commented on #10795
Thanks for checking the stats on this. It looks like we can clean those up potentially as we see them, but shouldn't invest time otherwise.

[2021-02-13 01:07] #10795 closed

[2021-02-15 21:47] muntaserq opened #11054 "chef client 14.4.56 throwing error trying to turn FIPS mode on due to fingerprint not matching"
# Describe the problem
I am experiencing an intermittent issue with FIPS and OpenSSL with Chef client 14.4.56. It happens randomly and requires a reboot of the VM to get it resolved, or I have to disable FIPS which I cannot do in the environment I'm working with. See stacktrace section for details.

## Software Version
Chef Client 14.4.56 running on Windows Server 2019 or Windows Server 2012 R2

#

[2021-02-16 19:03] #10742 closed

[2021-02-18 08:42] jmvbxx opened #11064 "Unable to create a user with `knife user create` in version 16.10.8"
## Description
When attempting to use `knife user create` it returns an error of `Response: Field 'name' missing` despite that not being part of the documentation. Furthermore, I manually added a `name` field to the JSON output from the command and it still failed with the same error.

## Chef Version
Chef Workstation version: 21.2.278
Chef Infra Client version: 16.10.8
Chef InSpec version: 4.26.4

[2021-02-18 17:20] jmvbxx commented on #11064
For clarity I'm including the full error message:
[code]

[2021-02-19 00:50] azsec commented on #11030
A workaround is to put any arbitrary like "echo skipping" in `command`.

[2021-02-19 02:52] tas50 opened #11067 "Build an omnibus-toolchain package for M1 macs"
We have a bit of a chicken and egg problem. In order to get the M1 macs into the pipeline we need a package that would ideally be built in that pipeline. So step 1 is to manually build the omnibus-toolchain so we can get the first box into the pipeline.

[2021-02-19 03:35] tas50 opened #11069 "Create a resource for fetching values from AWS Parameter Store"
While not often thought of as a "secrets manager" the AWS SSM Paramter Store is a pretty capable general-purpose key/value store that also has IAM based access control. This makes it a great secrets manager for many and also a nice place to store configuration options if they need them accessible by other AWS services or don't want to put them directly into their Chef Infra Server.

The AWS cookbo

[2021-02-19 03:49] tas50 opened #11070 "Create a helper for fetching values from AWS Secrets Manager"
AWS Secrets Manager is a simple secrets manager that uses existing IAM credentials for authentication making it relatively easy to get started for AWS users. We should support fetching secrets from AWS Secrets Manager since all the auth is handled by IAM permission policies on the node. This should be relatively straightforward with the AWS SDK.

See the Amazon FAQ on the service: https://aws.amaz

[2021-02-19 04:11] tas50 commented on #11010
@lamont-granquist did this

[2021-02-19 04:11] #11010 closed

[2021-02-19 04:17] tas50 commented on #11070
@mbaitelman pointed out that we could potentially just use the parameter store helper here with a different path since there's a passthru functionality:

https://docs.aws.amazon.com/systems-manager/latest/userguide/integration-ps-secretsmanager.html

We'll want to test if we can do that with just the single param store gem

[2021-02-19 04:32] jakauppila commented on #11069
So if not pulling down into node state, will there not be any form of caching? I'd be concerned at least with `get_parameters_by_path` depending on how many parameters there are if you are fetching on every access.

[2021-02-20 01:22] tas50 opened #11083 "Chef Infra Client installs should create /etc/chef"
There's a pretty serious chicken and egg problem with chef. You basically need a bootstrap process that builds the config out or runs chef to build the config out before you have enough config to actually run the client. We should create a skeleton directory with enough content to get you started so you don't need chef to get started with chef.

[code]

Optionally we could create a client.rb file

[2021-02-21 20:27] jmvbxx commented on #11064
Updated to `Chef Infra Client: 16.10.17` and still seeing the same behaviour.

[2021-02-22 11:45] ashishgurjarr opened #11084 "ERROR: Chef::Exceptions::ValidationFailed: Property chef_environment's value 2021.02.16 does not match regular expression /^[\-[:alnum:]_]+$/"
## Description
knife node show <node_name> not working as expected and fails with error
ERROR: Chef::Exceptions::ValidationFailed: Property chef_environment's value 2021.02.16 does not match regular expression /^[\-[:alnum:]_]+$/

## Chef Version
20.12.205

## Platform Version
Mac

## Replication Case
I have set chef policy for a node - knife node policy set node_name ' 2021.02.16' 'policy_name'.

[2021-02-22 14:07] ashishgurjarr commented on #11084
I got the hack and it worked. It was unable to identify the policy_group if It has dot(.) in policy_group.

Updated this file sudo vi /opt/chef-workstation/embedded/lib/ruby/gems/2.7.0/gems/chef-16.8.14/lib/chef/node.rb
    def chef_environment(arg = nil)
      set_or_return(
        :chef_environment,
        arg,
        { regex: /^[\-[:alnum:]_### .]+$/, kind_of: String }
      )
    end

[2021-02-22 18:14] jaymzh commented on #11084
Is it because of the errant space in your command:

[code]

The name being "<SPACE>2021..." ?

[2021-02-22 18:26] lamont-granquist commented on #10491
when it is set to :onstart the windows_task resource is using `::Win32::TaskScheduler::AT_SYSTEMSTART` so i'm a bit confused as to what we need to do here with timezones...  i'd need to see what the proposal is here to fix it.

[2021-02-22 18:33] #3517 closed

[2021-02-22 19:30] #3514 closed

[2021-02-22 20:19] jmvbxx commented on #11064
We have tested this further and have discovered that it works in `13.x.x` & `14.x.x` but stopped working in `15.x.x` and now `16.x.x`.

[2021-02-22 20:20] #3515 closed

[2021-02-22 20:24] #11012 closed

[2021-02-22 20:24] tas50 commented on #11012
Done

[2021-02-23 00:40] MattoHopkins commented on #10420
Still running into this issue with this code block

`windows_user_privilege 'Deny log on as a batch job' do
  privilege      'SeDenyBatchLogonRight'
  users           ['BUILTIN\Guests']
  action         :add
end`

Error as follows:

`================================================================================
    Error executing action `add` on resource 'windows_user_privilege[Deny log on as a

[2021-02-23 12:45] bkabrda opened #11090 "zypper_repository should accept multiple gpgkeys"
### Describe the Enhancement:

`yum_repository` accepts either a string or an array for `gpgkey`, as `yum`/`dnf` have been able to handle multiple entries for GPG keys for a long time. Since at least OpenSUSE LEAP 15, `zypper` also respects multiple values for `gpgkey` (AFAICT multiple entries for `gpgkey` would make zypper fail for SUSE < 12 and they would be ignored for SUSE < 15). Therefore I'd

[2021-02-23 21:48] tas50 opened #11094 "Add an effortless? helper"
We now identify systems as running in the effortless pattern within node['chef_packages']. We should expose this as a helper for writing cookbooks.

[2021-02-24 13:51] ashishgurjarr commented on #11084
It is failing because I have used dot in policy_group '2021.02.16'. which is not parsed by existing regex.

before:
{ regex: /^[-[:alnum:]_]+$/, kind_of: String }

after:
{ regex: /^[-[:alnum:]_.]+$/, kind_of: String }

[2021-02-25 00:18] haidangwa opened #11103 "package provider action `:upgrade` should work with Ubuntu"
### Describe the Enhancement:

When I declare a `package` resource in my recipe, it is smart enough to determine that my chef node is an Ubuntu server. It then proceeds to use the `apt_package` resource to do an upgrade; however, the `upgrade` action is not supported by `apt_package`. Instead of intelligently changing the provider to `dpkg_package`, chef client fails and throws an error. Ironicall

[2021-02-25 03:20] tas50 opened #11104 "compliance phase: audit cookbook detection needs adjustment"
The current detection of the audit cookbook makes it too difficult to switch to the compliance phase. If the cookbook is depended on, but not executed on the run_list then it's detected as being used and the compliance phase won't run. We need to make sure the audit cookbook is actually being used.

[2021-02-25 03:22] tas50 opened #11105 "compliance phase: missing data_collector.token and data_collector.server_url should fail run"
If a person configured compliance phase to use the automate reporter, but doesn't configure the tokens necessary for reporting then the run should exit a non-zero code. We should probably create a code for the compliance phase failing. Right now you can misconfigure a node and Test Kitchen passes just fine:

[code]

[2021-02-25 03:44] tas50 opened #11106 "compliance phase: unsupported reporter errors need to point to docs"
If you give an invalid reporter we need to give a more friendly / helpful message. We should just link to the docs so that the user has some change of righting the problem.

[code]

In that case I needed to specify `json-file` not `json_file`, but you'd never guess that from the error.

[2021-02-25 03:46] tas50 opened #11107 "compliance phase: There's no indication that the compliance phase was run"
We need to be more clear that the Compliance Phase is starting.

[code]

Other than the error that I should be using a different fetcher you'd never know it ran:

When the compliance phase is running we should start with

[code]

And end with:

[code]

[2021-02-25 03:49] tas50 opened #11108 "compliance phase: json-file reporter needs to log where it writes the file"
The `json-file` reporter doesn't actually provide any logging that it ran. It has a default path that it writes to, but you wouldn't know that unless you read the docs. We should log that we successfully wrote the compliance phase report to path /x/y/z.

[2021-02-25 18:24] johnmccrae opened #11109 "Windows Certificate Resource does not properly export a PKCS12 object"
## Description

The following method incorrectly exports a pkcs12 object from a certificate store on Windows. This method is located in the windows_certificate.rb file in the resource folder of the chef-client.

The user passes in the name of an object they want to retrieve from the certstore, let's say foo.pfx using the source property. When the case structure executes, the openssl commands for t

[2021-02-25 19:14] johnmccrae opened #11110 "win32-certstore helper.rb incorrectly exports a pfx container"
## Description
The helper.rb file contains a PowerShell command called cert_ps_cmd. It is a PowerShell block used to extract the guts of a certificate from the Windows cert store and transform it into a usable object without touching disk. The main problem is that it attempts to apply base64 encoding to a PKCS12 object which results in an x509 based object which is pure garbage. A PKCS12 object is

[2021-02-26 19:30] lamont-granquist commented on #11104
Ah, I should rethink that PR from yesterday then.

[2021-03-01 19:22] tas50 opened #11121 "Test Kitchen tests on CentOS 6 failing due to FFI installation"
Our CentOS 6 Test Kitchen tests are failing as they try to install too new of a version of FFI. We need to pin FFI here to prevent RHEL 6 failures.

[2021-03-02 13:23] Tab10id commented on #9983
Problem coused by be1191b72d72887713048538e72a11b3940c6eb8. In this commit is a bug in load_current_value method. Loaded only lang property, lc_env property was ignored.
So bug is apear only if lc_env property was given.
It's not a so minor bug, locale update can cause errors on running server. E.g we received errors in postgresql for several seconds while chef run.

[2021-03-02 14:12] dheerajd-msys commented on #10491
Hi @lamont-granquist We've also checked that this bug is generic when related to `windows_task` and for different frequencies other than `:onstart`. Basically timestamp here in console log message like `[2021-02-12T11:02:29+00:00] INFO: *** Chef Infra Client 16.3.45 ***` is updated from https://github.com/chef/mixlib-log/blob/v2.0.0/lib/mixlib/log/logger.rb#L52 but when we execute the recipe as ab

[2021-03-02 18:40] johnmccrae commented on #11110
Resolved in https://github.com/chef/win32-certstore/pull/75

[2021-03-02 18:40] #11110 closed

[2021-03-03 17:31] hachi commented on #10649
Hang on, you didn't ask for more information, you said it was needing testing... This is still a problem (I'm hitting it today)

[code]

[2021-03-03 22:31] jmvbxx commented on #11064
It's been two weeks since I submitted this issue. Is there any chance of at least getting this triaged any time soon?

[2021-03-05 12:24] indygwyn commented on #10763
Has there been any movement on this?  Each  week someone on my team updates their chef tooling and suddenly can't multi target ssh sudo.  I have a Support Ticket open with Chef/Progress as well and have heard nothing there either.

[2021-03-05 14:11] fuegas commented on #10763
@dheerajd-msys , @tas50 , @lamont-granquist : I've dug a little in this issue as I had some time at hands. Here are my findings:

### Chef 15.13.8

[code]

### Chef 15.14.0 (same behaviour for 15.15.X)

[code]

### Chef 16.0.287

[code]

### Chef 16.4.41

[code]

### Chef 16.5.77 (same behaviour for 16.6.X and 16.7.X)

[code]

[code]

### Chef >= 16.8.X

[code]

### Digging into the ArgumentError

[2021-03-05 14:35] fuegas commented on #10763
After some more digging, it looks to be related to the change made in #9482.

From that moment it changes the behaviour to request a pty _only_ if an error is thrown (regarding the pty). The option to always request a pty was removed in 21f975163cf041af0f132a30ad3525e2e727d2a2. When I change the default to request a pty (`pty = true` in the method definition) I no longer run into the ArgumentError

[2021-03-05 18:55] cookiecurse opened #11145 "windows_security_policy Resource missing policies"
We recently switched from a Custom Resource that handles the windows security policy to the chef client one and discovered that these are not available in the windows_security_policy resource:

policy: 'LockoutObservationWindow'
policy: 'LockoutThreshold'
policy: 'AuditPolicyChange'

The errror exception I get when attempting to run this resource with the policies above:

[code]
Any chance we can

[2021-03-07 00:39] #11104 closed

[2021-03-07 04:17] tas50 opened #11152 "Push arm64 docker images to DockerHub"
We produce arm64 packages for Linux. We should be pushing an ARM64 docker image as well. We already have dokken images ready for them.

[2021-03-08 21:36] indygwyn commented on #10763
@fuegas

I'm currently on Chef Workstation version 21.2.203

Manually changing the `def open_session(subsession, command, pty = false)` to `def open_session(subsession, command, pty = true)`  does indeed fix this issue for me on macOS Big Sur

[2021-03-09 11:14] fuegas commented on #10763
@indygwyn : for our team I've created a script which we can run after an upgrade of Chef Workstation, I've shared it as a gist if you're interested: https://gist.github.com/fuegas/e60fdb5ea74bc808dda4c3355d9a78e0

[2021-03-09 19:16] #11121 closed

[2021-03-10 07:18] msys-sgarg commented on #2601
created a git repo with a submodule here -

[](https://github.com/msys-sgarg/test-repo)

Created a test recipe file to create a git resource like this -

[code]
This is how my deploy_wrapper.sh file looks

[code]
Once I ran this recipe using chef-client. I see a git repo was created on the destination specified along with submodule git repo

**Conclusion** - I don't see the error happening as of n

[2021-03-10 07:27] #2601 closed, assigned to nobody

[2021-03-11 15:18] jeremyciak opened #11169 "dsc_resource Crash on Error (powershell.rb)"
## Description

After updating our Chef clients to version 16.10.17 we are now getting crashing errors on runs that would error out previously (e.g. - Chef Client version 16.4.41 and 16.2.73) but still allow the runs to complete and report back to the Chef Automate Server. It appears that this is occurring with errors experienced for dsc_resource resources.

## Chef Version

16.10.17

## Platform

[2021-03-11 16:12] joshuamiller01 opened #11170 "File verifiers are run regardless of whether the contents have changed"
## Description
File verifiers run regardless of whether the contents have changed.  This makes it expensive to run expensive verifiers (because they run on every chef run), as well as introduces chef-client failure modes where a verifier begins failing despite there being no chef-deployed change to the file's contents (e.g. the verifier binary may have changed)

## Chef Version
Tested against 13.1

[2021-03-11 16:12] joshuamiller01 commented on #11170
I'll submit a PR for a fix for this shortly.

[2021-03-11 23:47] #11170 closed

[2021-03-11 23:47] joshuamiller01 commented on #11170
Closed with merge.

[2021-03-12 02:37] lytao commented on #9911
I tend to use the `file` resource to write contents to toml. However, the problem is, I see the gem tomlrb didn't get updated in the past chef infra client releases, and it is lacking of of the feature to write hash in toml format (render_toml call in the above example). I am happy to see the gem is still in maintainence recently, but just sad that it is design as only a parser.

I see another one

[2021-03-12 05:48] tas50 commented on #11152
This is waiting on this functionality within our pipelines. https://github.com/chef/release-engineering/issues/1344

[2021-03-12 05:50] tas50 commented on #11094
This is merged into master now

[2021-03-12 05:50] #11094 closed

[2021-03-12 05:50] tas50 commented on #11083
This is merged into master now

[2021-03-12 05:50] #11083 closed

[2021-03-12 05:50] tas50 commented on #11067
This has been completed.

[2021-03-12 05:50] #11067 closed

[2021-03-12 05:51] tas50 commented on #11013
Pedant fix is merged

[2021-03-12 05:53] tas50 commented on #11064
I believe this is a duplicate of https://github.com/chef/chef/issues/10948

[2021-03-12 14:06] jmvbxx commented on #11064
Thanks for looking into this @tas50. Yes, it does appear to be a duplicate.  I'll go ahead and close this one and follow the other one.

[2021-03-12 14:06] #11064 closed

[2021-03-15 03:50] dheerajd-msys commented on #10763
Hi @fuegas Could you please provide us the reference through which you setup your ssh-gateway environment, because we need to setup for our self  imitating your environment in order to correctly reproduce the issue.

Thanks!!

[2021-03-15 08:24] fuegas commented on #10763
Hi @dheerajd-msys, we're not using a ssh-gateway. Using a (hardware) firewall we can access our nodes. The config mentioned in a [previous comment](https://github.com/chef/chef/issues/10763#issuecomment-764528742) is all we configure. If there are certain SSHD config option's you'd like to know I can look them up for you.

[2021-03-15 13:41] dheerajd-msys commented on #10763
Thanks to confirm this @fuegas !!
Let me share you the steps then what we are doing to reproduce the issue...
1. Created azure VMs with user and password
2. Bootstrap them with command :
    ```knife bootstrap 52.224.14.169 -U dheeraj -P dheeraj@12345678 -N dh-ubutest01 --sudo --use-sudo-password```
3. Finally executing the `knife ssh` command
    ```knife ssh 'name:dh-ubutest*' 'sudo echo hello'

[2021-03-15 13:54] fuegas commented on #10763
@dheerajd-msys if you add the changes as I've detailed in [this comment]() under Digging into the ArgumentError:
[code]

Do you see any output like second attempt?

Like the output from my run?

└─⎇ master {12} U:2 ?:3 ✗ ⋗ bundle exec knife ssh 'fqdn:demo0*' 'sudo echo hello' -VV -t 2 -P
INFO: Using configuration from /Users/fuegas/Projects/chef/knife/knife.rb
Enter your password:
DEBUG: Using nod

[2021-03-15 14:13] dheerajd-msys commented on #10763
Ok, I will check this and confirm.

[2021-03-15 16:00] rishichawda opened #11179 "knife error - table size exceeds the currently set width.Defaulting to vertical orientation"
## Description

Running `knife config list profiles` shows the following error:

![Screenshot 2021-03-15 at 9 26 05 PM](https://user-images.githubusercontent.com/26366288/111182582-0eeeee80-85d5-11eb-9b34-c7dd3d748c86.png)

## Chef Version

Chef Workstation version: 20.11.180
Chef Infra Client version: 16.6.14
Chef CLI version: 3.0.33

## Platform Version

macOS 10.15.5 (Catalina)

## Replication

[2021-03-16 09:33] dheerajd-msys commented on #10763
@fuegas Here is what I am getting and working well for me with your changes applied too.

[code]

[2021-03-16 10:12] fuegas commented on #10763
@dheerajd-msys I see the difference between our runs :) Our sudo config requires a TTY, as yours does not, it won't do the "second attempt" because it never gets to the error `sudo: no tty present and no askpass program specified`.

If you add the following to `/etc/sudoers` (using visudo) it should give the error:
[code]

[2021-03-16 10:53] dheerajd-msys commented on #10763
Updating `requiretty` in one of the VM getting below O/P but no `ArguemetError`

[code]

[2021-03-16 10:55] fuegas commented on #10763
Ah! But only one node performed the `hello`.
[code]
This does not match your `data.eql` as the data is partitioned. But the contents (concatenated) is the same as the check.

[2021-03-17 22:35] JohnnyBopper commented on #10848
Installed the release 16.9.32 and I no longer see this issue.

[2021-03-17 22:35] #10848 closed

[2021-03-18 13:42] msys-sgarg commented on #10948
User create Api call on chef-server need an `email` argument to be passed, we see it here -> `valid_email line 208` -> https://github.com/chef/chef-server/blob/8e5e0e23f5dbbdd9d05265b0f12a99cead2f9315/src/oc_erchef/apps/chef_objects/src/chef_user.erl#L189-L205

May be we can allow `knife user create username` to work but along with a mandatory option of `--email` otherwise the call fails and we ge

[2021-03-18 18:49] gscho commented on #10763
What about adding a flag `--[no]-tty`?

[2021-03-18 19:03] fuegas commented on #10763
In #9482 it was added in 506876bf5b3cafb015ad9e22a62b76af5021b6e9, however the suggestion was made to remove the flag, catch the error and retry. If the flag can be added (and set in knife config) it would work for us. Or a solution that handles the race condition. But my guess is that fixing the race condition is a lot harder than adding the flag.

[2021-03-18 22:17] tas50 opened #11206 "Test"
#### Note: GitHub integration record type. Please leave out any sensitive information.<br/><br/>Job to be Done:

As an <persona>,

I want to <job to be done>

So that <reason for needing job/benefit>

<br/>

#### Description:

<additional details><br/><br/>

#### Acceptance Criteria:

1.

2.

3.

Aha! Link: https://chef.aha.io/features/INFRA-1

[2021-03-18 22:18] tas50 commented on #11206
sdfsadfsdf

[2021-03-18 22:58] #11206 closed

[2021-03-19 15:46] johnypony3 opened #11207 "yum_package on Red Hat 8 fails"
## Description
yum_package does not work on Red Hat 8.

## Chef Version
15.x.x

## Platform Version
Red Hat 8

## Replication Case

## Client Output
cannot find yum libraries, you may need to use dnf_package

[2021-03-19 15:52] marcparadise commented on #10948
Thanks @msys-sgarg; I like your suggestion of having these as required flags in this case, so that it would look like: `knife user create USERNAME --email EMAIL --password PASSWORD`; this is still considerably less typing and more clarity than the current six-arg behemoth.

@chef/ux-team do you have any thoughts here?

[2021-03-19 16:42] tas50 commented on #11207
@johnypony3 This is the expected output. RHEL 8 no longer ships with yum out of the box so there's no yum utilities for chef to interact with. You can update this code to be dnf_package, which will use the dnf utility in RHEL 8, but you'd probably be better off just using `package` instead. Package includes the magic to use the appropriate tooling under the hood depending on release.

[2021-03-19 16:42] #11207 closed

[2021-03-19 16:45] tas50 commented on #10646
This has been completed

[2021-03-19 16:45] #10646 closed

[2021-03-19 16:46] johnypony3 commented on #11207
This should not be chefs stance on this. We now need to convert hundreds of cookbooks to use package. It would be much better if chef switched to dnf_package and added a deprecated call out to the log.

[2021-03-19 16:47] tas50 commented on #9172
We did this

[2021-03-19 16:47] #9172 closed

[2021-03-19 16:57] tas50 commented on #11207
We've always taken the stance that users should not use `yum_package` directly unless they absolutely needed to access yum on a system. The documentation for yum_package itself suggests using `package` instead: https://docs.chef.io/resources/yum_package. The `package` resource is designed for a user that wants a package installed and doesn't particularly care how chef-client goes about doing that.

[2021-03-19 17:05] lamont-granquist commented on #11207
You can do that manually yourself just by throwing something like:

[code]

Into any library file

[2021-03-19 17:48] tas50 commented on #9101
We did this

[2021-03-19 17:48] #9101 closed

[2021-03-19 17:49] tas50 commented on #11013
This was completed

[2021-03-19 17:49] #11013 closed

[2021-03-19 17:51] tas50 commented on #11015
I think this is actually out of the scope of chef/chef now. This needs to be a workstation concern

[2021-03-19 17:51] #11015 closed

[2021-03-19 17:59] tas50 commented on #11014
Testing has been added

[2021-03-19 17:59] #11014 closed

[2021-03-19 17:59] tas50 commented on #11011
This has been completed

[2021-03-19 17:59] #11011 closed

[2021-03-19 18:18] johnypony3 commented on #11207
we have hundreds of cookbooks controlled by two chef servers across multiple orgs with policies and environments. this is not a `great` solution.

[2021-03-19 18:36] lamont-granquist commented on #11207
That globally fixes it across all cookbooks running on the machine, you just have to add that to any base cookbook or drop a library into any set of base cookbooks that winds up on every server.

[2021-03-19 18:43] djcoster commented on #10367
I am running into this same issue.

All I did was update my Chef Workstation and now these two values are getting set in my `client.rb` file on each node I bootstrap. This is **not** in my config.rb and I consider this a very bad bug. If this is not specified it needs to be left out on nodes being bootstrapped.

I found a workaround, by setting this in my `.chef/knife.rb` file:

[code]

If that he

[2021-03-19 18:45] johnypony3 commented on #11207
thanks! i will test that. i appreciate your time.

[2021-03-19 20:05] craigontour commented on #8497
When running a kitchen converge on local VMware-hosted Windows 2016 server i got this error:
[code]

I am on a Mac using
**macos** Big Sur 11.2.3. and **Chef Workstation** version: 21.2.303, **Test kitchen** version: 2.10.0

Kitchen converge did not always fail with that error, but I noticed VMware Tools needed updating so ran that, few reboots later and then kc worked without an error at all. Tim

[2021-03-21 13:28] Kristaba opened #11208 "Chef openssl_x509_certificate do not check existing certificate properties to update it"
## Description
I recently attempted to switch to the relatively new `openssl_x509_certificate` resource from an old, custom resource I made to manage self-signed certificates in a testing environment.

However, in its current state it seems hardly usable: the generated certificate is never updated when I change properties (for instance adding an alternative subject or updating the CA certificate).

[2021-03-21 20:40] MattoHopkins commented on #10420
@tas50, Is there an update on this?

[2021-03-24 01:30] tas50 opened #11219 "NilClass error in Compliance Phase when no client.pem present"
When running chef-client w/o a client.pem we get the usual missing client.pem file error as well as a NilClass error from the Compliance Phase we shouldn't be seeing.

[code]

[2021-03-24 14:34] OceaneLonneux-CAL commented on #10110
Hello, will this be looked at?
We are facing a similar issue, the root cause seems to be the same.

Scenario:
We have this code :
[code]
target_dir is a C:/something (that is not C:/Program Files). There is already one folder inside, but it is not linked to when we use this archive_file.
What happens is the following:
- No error message, however, when we check the target_dir, nothing is there,
- I

[2021-03-26 21:31] jaymzh commented on #10657
Silly GH, I said it does _not_ close this.

[2021-03-27 06:09] eheydrick opened #11255 "Enabling network mounts with a root of / not idempotent and the / is stripped out"
## Description

Enabling network (nfs) mounts with a root of `/` is not idempotent and the `/` is getting striped. The result is a new `fstab` entry every run. Specifying a root other than `/` works fine. The problem occurs when the device is like `something:/`

## Chef Version

[code]

Looks like there's been several PRs dealing with `/` root on network devices.

I did some bisecting and found th

[2021-03-27 12:03] luis33338 opened #11256 "HTML"
[](url) #11254 []([https://www.paypal.me/luisalbertop27](url)``)[](url) plataformas oline #11254

[2021-03-27 13:38] luis33338 commented on #11256
`[lukinatk@sina.com

[2021-03-27 13:38] luis33338 commented on #11256
`[lukinatk@sina.com](url)`

[2021-03-27 13:38] luis33338 commented on #11256
`[lukinatk@sina.com

[2021-03-27 13:38] luis33338 commented on #11256
`[lukinatk@sina.com](url)`

[2021-03-27 13:39] luis33338 commented on #11256
Httpsgooglgleplatsformas.oline

[2021-03-27 13:40] luis33338 opened #11257 "Httpsgooglgleplatsformas.oline.com) paymet)https://www.paypal.me/luisalbertop27"
Httpsgooglgleplatsformas.oline

_Originally posted by @luis33338 in https://github.com/chef/chef/issues/11256#issuecomment-808734668_

[2021-03-29 08:23] kmf commented on #11256
@tas50 Spam

[2021-03-29 08:24] kmf commented on #11257
@tas50 spam

[2021-03-29 14:58] #11256 closed

[2021-03-29 14:58] tas50 commented on #11256
@kmf Thanks. I reported it.

[2021-03-29 17:33] #11257 closed

[2021-03-29 17:43] ramereth commented on #11255
I'll take a closer look at this and provide a fix since I introduced the regression (apologies for that). Thanks for the example code so I could replicate it on my end!

[2021-03-29 17:49] lamont-granquist commented on #11103
So this should not be implemented as the apt_package resource calling dpkg or dpkg_package to do the install (we would need code in the apt package provider itself similar to yum's `resolve_source_to_version_obj` that calls dpkg to get the package version number).

This should be done through using the `use_package_name_for_source` subclass directive, and implemented using `apt -sourcepath` so tha

[2021-03-29 18:16] jeremyciak commented on #11169
This issue is continuing to plague my Chef runs which yield no useful information in the logs when the failures occur. Is this slotted for an upcoming release I can look forward to? Has it been resolved in a release since this version (16.10.17)? I see that version 16.11.7 is available now... should I switch to that or would that not help with this?

[2021-03-29 18:46] ramereth commented on #11255
@eheydrick I think #11261 fixes this issue. It should be easily patched on a current chef-16 codebase. Please let me know if it does or I still missed something that needs fixed. Thanks!

[2021-03-29 19:00] eheydrick commented on #11255
@ramereth I tested the patch under Chef 16 and can confirm that it's doing the right now. Thanks for the quick fix!

[2021-03-29 23:55] #11255 closed

[2021-03-30 13:45] wheatevo commented on #11169
Seeing similar segmentation fault issues in Chef 16.8.14.

[2021-03-30 15:09] scrummyin opened #11266 "yum package install failure `yum.Errors.YumBaseError: Error: rpmdb open failed`"
## Description
  There seems to be a case where `yum_helper.py` can leave the yum db in a corrupted state.  We have noticed this when using chef to install yum packages via the packer chef-solo. I saw the note at the top of the bug about `chef-solo` plugin bugs not belonging here, but the issue tracker is for code in this repo and `lib/chef/provider/package/yum/yum_helper.py` lives here. After pat

[2021-03-31 14:00] marcparadise opened #11271 "merge cheffish into chef"
As part of this, remove the dpeendency of `cheffish` on `knife`, since `knife` is no longer available in the chef gem library. Once this is done, we'll need to unpend the 'the cheffish DSL is loaded lazily' test in `spec/integration/client/client_spec.rb`

[2021-03-31 20:03] marcparadise opened #11272 "Fix Dnf package provider functional tests on fedora"
dnf package provider tests on Fedora are timing out.  We need to look at what they're doing and find out what's taking so long.

https://buildkite.com/chef-oss/chef-chef-master-verify/builds/8485#f1b4166b-cd29-4b21-888f-3d18921db022/102-302)

[2021-04-01 12:39] fuegas commented on #10763
@dheerajd-msys : Do you have an update regarding this issue for us? 🙂

[2021-04-02 20:10] marcparadise opened #11289 "Compliance Phase: early run failures partially hidden by compliance phase logging error"
[code]

The real problem here was the 'no such file or directory' error; but the last thing we show is `'FATAL: undefined method 'logger' for nil:NilClass'`

Stack trace:
[code]